Infrastructure.Soap/Connected Services/STSVriksomhed/Virksomhed.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:sts="urn:oio:sts:1.1.3.0" xmlns:part="urn:oio:sts:part:1.1.3.0" xmlns:oio="urn:oio:definitions:1.0.0" xmlns:virksomhed="urn:oio:sts:organisation:virksomhed:1.1.3.0" xmlns:orgfaelles="urn:oio:sts:organisation:1.1.3.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:virksomhed:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <import schemaLocation="GenerelleDefinitioner.xsd" namespace="urn:oio:sts:1.1.3.0" />
  <import schemaLocation="Part.xsd" namespace="urn:oio:sts:part:1.1.3.0" />
  <element oio:definition="urn:oio:sagdok:virksomhed:ADD:2.0.0" name="Virksomhed" type="virksomhed:VirksomhedType" />
  <complexType oio:definition="urn:oio:sagdok:virksomhed:ADD:2.0.0" name="VirksomhedType">
    <complexContent mixed="false">
      <extension base="part:PartType">
        <sequence>
          <element oio:content="registreringer" maxOccurs="unbounded" ref="virksomhed:Registrering" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:virksomhedattributliste:ADD:2.0.0" name="AttributListe" type="virksomhed:AttributListeType" />
  <complexType oio:definition="urn:oio:sagdok:virksomhedattributliste:ADD:2.0.0" name="AttributListeType">
    <sequence>
      <element oio:content="egenskaber" minOccurs="0" maxOccurs="unbounded" ref="virksomhed:Egenskab" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:virksomhedtilstandliste:ADD:2.0.0" name="TilstandListe" type="virksomhed:TilstandListeType" />
  <complexType oio:definition="urn:oio:sagdok:virksomhedtilstandliste:ADD:2.0.0" name="TilstandListeType">
    <sequence />
  </complexType>
  <element oio:definition="urn:oio:sagdok:virksomhedrelationliste:ADD:2.0.0" name="RelationListe" type="virksomhed:RelationListeType" />
  <complexType oio:definition="urn:oio:sagdok:virksomhedrelationliste:ADD:2.0.0" name="RelationListeType">
    <sequence />
  </complexType>
  <element oio:definition="urn:oio:sagdok:virksomhedregistrering:ADD:2.0.0" name="Registrering" type="virksomhed:RegistreringType" />
  <complexType oio:definition="urn:oio:sagdok:virksomhedregistrering:ADD:2.0.0" name="RegistreringType">
    <complexContent mixed="false">
      <extension base="sd:RegistreringType">
        <sequence>
          <element oio:content="attributter" ref="virksomhed:AttributListe" />
          <element oio:content="tilstande" ref="virksomhed:TilstandListe" />
          <element oio:content="relationer" ref="virksomhed:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:virksomhedegenskaber:ADD:1.0.0" name="Egenskab" type="virksomhed:EgenskabType" />
  <complexType oio:definition="urn:oio:sagdok:virksomhedegenskaber:ADD:1.0.0" name="EgenskabType">
    <sequence>
      <element oio:content="virkning" minOccurs="0" ref="sd:Virkning" />
      <element oio:content="brugervendtnoegle" minOccurs="0" ref="sd:BrugervendtNoegleTekst" />
      <element oio:content="cvr-nummer" minOccurs="0" ref="sts:CVR-NummerTekst" />
      <element oio:content="se-nummer" minOccurs="0" ref="sts:SE-NummerTekst" />
      <element oio:content="p-nummer" minOccurs="0" ref="sts:P-NummerTekst" />
      <element oio:content="navn" minOccurs="0" ref="sts:NavnTekst" />
    </sequence>
  </complexType>
</schema>