Infrastructure.Soap/Connected Services/STSVriksomhed/VirksomhedOperationer.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:sts="urn:oio:sts:1.1.3.0" xmlns:virksomhed="urn:oio:sts:organisation:virksomhed:1.1.3.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:virksomhed:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <import schemaLocation="GenerelleDefinitioner.xsd" namespace="urn:oio:sts:1.1.3.0" />
  <include schemaLocation="Virksomhed.xsd" />
  <element oio:definition="urn:oio:sts:virksomhedimportinput:ADD:2.0.0" name="ImportInput" type="virksomhed:ImportInputType" />
  <element oio:definition="urn:oio:sts:virksomhedimportoutput:ASDD:2.0.0" name="ImportOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:virksomhedopretinput:ADD:2.0.0" name="OpretInput" type="virksomhed:OpretInputType" />
  <element oio:definition="urn:oio:sts:virksomhedopretoutput:ADD:2.0.0" name="OpretOutput" type="sd:OpretOutputType" />
  <element oio:definition="urn:oio:sts:virksomhedretinput:ADD:2.0.0" name="RetInput" type="virksomhed:RetInputType" />
  <element oio:definition="urn:oio:sts:virksomhedretoutput:ASDD:1.0.0" name="RetOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:virksomhedpassiverinput:ASDD:1.0.0" name="PassiverInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sts:virksomhedpassiveroutput:ASDD:1.0.0" name="PassiverOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:virksomhedsletinput:ASDD:1.0.0" name="SletInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sts:virksomhedsletoutput:ASDD:1.0.0" name="SletOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:virksomhedlaesinput:ASDD:1.0.0" name="LaesInput" type="sd:LaesInputType" />
  <element oio:definition="urn:oio:sts:virksomhedlaesoutput:ADD:2.0.0" name="LaesOutput" type="virksomhed:LaesOutputType" />
  <element oio:definition="urn:oio:sagdok:klassifikationlistinput:ASDD:1.0.0" name="ListInput" type="sd:ListInputType" />
  <element oio:definition="urn:oio:sagdok:klassifikationlistoutput:ADD:2.0.0" name="ListOutput" type="virksomhed:ListOutputType" />
  <element oio:definition="urn:oio:sts:virksomhedsoeginput:ADD:2.0.0" name="SoegInput" type="virksomhed:SoegInputType" />
  <element oio:definition="urn:oio:sts:virksomhedsoegoutput:ASDD:1.0.0" name="SoegOutput" type="sd:SoegOutputType" />
  <complexType oio:definition="urn:oio:sts:virksomhedimportinput:ADD:2.0.0" name="ImportInputType">
    <sequence>
      <element oio:content="virksomhed" ref="virksomhed:Virksomhed" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sts:virksomhedopretinput:ADD:2.0.0" name="OpretInputType">
    <complexContent mixed="false">
      <extension base="sd:OpretInputType">
        <sequence>
          <element oio:content="attributter" minOccurs="0" ref="virksomhed:AttributListe" />
          <element oio:content="tilstande" minOccurs="0" ref="virksomhed:TilstandListe" />
          <element oio:content="relationer" minOccurs="0" ref="virksomhed:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:virksomhedretinput:ADD:2.0.0" name="RetInputType">
    <complexContent mixed="false">
      <extension base="sd:RetInputType">
        <sequence>
          <element oio:content="attributter" minOccurs="0" ref="virksomhed:AttributListe" />
          <element oio:content="tilstande" minOccurs="0" ref="virksomhed:TilstandListe" />
          <element oio:content="relationer" minOccurs="0" ref="virksomhed:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:virksomhedlaesoutput:ADD:2.0.0" name="LaesOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" name="FiltreretOejebliksbillede" type="virksomhed:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:virksomhedlistoutput:ADD:2.0.0" name="ListOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="virksomhed:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:sagfiltreretoejebliksbillede:ADD:1.0.0" name="FiltreretOejebliksbilledeType">
    <sequence>
      <element oio:content="objekt" name="ObjektType" type="sd:SagDokObjektType" />
      <element oio:content="registrering" minOccurs="0" maxOccurs="unbounded" name="Registrering" type="virksomhed:RegistreringType" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sts:virksomhedsoeginput:ADD:2.0.0" name="SoegInputType">
    <complexContent mixed="false">
      <extension base="sd:SoegInputType">
        <sequence>
          <element oio:content="soegattributter" ref="virksomhed:AttributListe" />
          <element oio:content="soegtilstande" ref="virksomhed:TilstandListe" />
          <element oio:content="soegrelationer" ref="virksomhed:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>