Infrastructure.STS.SvcUtilClients/Bruger/wsdl/Bruger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="BrugerService"
        targetNamespace="http://stoettesystemerne.dk/organisation/6/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://stoettesystemerne.dk/organisation/6/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:type="http://stoettesystemerne.dk/organisation/bruger/6/"
        xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/">

  <wsdl:import namespace="http://serviceplatformen.dk/xml/wsdl/soap11/Security/Policy"
               location="policies/OIOIDWS.wsdl"/>

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:import namespace="http://stoettesystemerne.dk/organisation/bruger/6/" schemaLocation="../xsd/6.0.STS-0/BrugerOperationer.xsd"/>
        <xsd:import namespace="http://stoettesystemerne.dk/organisation/bruger/6/" schemaLocation="../xsd/6.0.STS-0/Bruger.xsd"/>
        <xsd:import namespace="http://stoettesystemerne.dk/organisation/bruger/6/" schemaLocation="../xsd/6.0.STS-0/BrugerBesked.xsd"/>
        <xsd:import namespace="http://stoettesystemerne.dk/organisation/6/" schemaLocation="../xsd/6.0.STS-0/OrganisationFaelles.xsd"/>
        <xsd:import namespace="urn:oio:sts:part:6" schemaLocation="../xsd/6.0.STS-0/Part.xsd"/>
        <xsd:import namespace="urn:oio:sts:6" schemaLocation="../xsd/6.0.STS-0/GenerelleDefinitioner.xsd"/>
        <xsd:import namespace="urn:oio:sagdok:3.0.0" schemaLocation="../xsd/common/SagDokObjekt.xsd"/>
        <xsd:import namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" schemaLocation="../xsd/common/RequestHeader.xsd" />
      </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BrugerImporterRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:ImportInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerOpretResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:OpretOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerLaesRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:LaesInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerListeResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:ListOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerPassiverRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:PassiverInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerSletRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:SletInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerLaesResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:LaesOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerRetResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:RetOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerRetRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:RetInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerImporterResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:ImportOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerSoegResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:SoegOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerOpretRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:OpretInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerSletResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:SletOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerPassiverResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:PassiverOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerSoegRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:SoegInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BrugerListeRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:ListInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BrugerPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:BrugerOpretRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:BrugerOpretResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:BrugerImporterRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:BrugerImporterResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:BrugerPassiverRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:BrugerPassiverResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:BrugerLaesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:BrugerLaesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:BrugerRetRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:BrugerRetResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:BrugerSletRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:BrugerSletResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:BrugerSoegRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:BrugerSoegResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:BrugerListeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:BrugerListeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Bruger" type="tns:BrugerPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#ServiceplatformBindingPolicy"/>
    <wsdl:operation name="opret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/opret" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:BrugerOpretRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerOpretResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/importer" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:BrugerImporterRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerImporterResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/passiver" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:BrugerPassiverRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerPassiverResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/laes" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:BrugerLaesRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerLaesResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/ret" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:BrugerRetRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerRetResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/slet" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:BrugerSletRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerSletResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/soeg" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:BrugerSoegRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerSoegResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/list" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:BrugerListeRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerListeResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrugerService">
    <wsdl:port name="Bruger" binding="tns:Bruger">
      <soap12:address location="http://kombit.dk/sts/organisation/bruger"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
