Infrastructure.Soap/Connected Services/STSBruger/BrugerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://stoettesystemerne.dk/organisation/6/" xmlns:type="http://stoettesystemerne.dk/organisation/bruger/6/" xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/" name="BrugerService" targetNamespace="http://stoettesystemerne.dk/organisation/6/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://serviceplatformen.dk/xml/wsdl/soap11/Security/Policy" location="policies/OIOIDWS.wsdl" />
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../xsd/6.0.STS-0/BrugerOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/bruger/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Bruger.xsd" namespace="http://stoettesystemerne.dk/organisation/bruger/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/BrugerBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/bruger/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationFaelles.xsd" namespace="http://stoettesystemerne.dk/organisation/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Part.xsd" namespace="urn:oio:sts:part:6" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/GenerelleDefinitioner.xsd" namespace="urn:oio:sts:6" />
      <xsd:import schemaLocation="../xsd/common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
      <xsd:import schemaLocation="../xsd/common/RequestHeader.xsd" namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BrugerImporterRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:ImportInput" />
  </wsdl:message>
  <wsdl:message name="BrugerOpretResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:OpretOutput" />
  </wsdl:message>
  <wsdl:message name="BrugerLaesRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:LaesInput" />
  </wsdl:message>
  <wsdl:message name="BrugerListeResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:ListOutput" />
  </wsdl:message>
  <wsdl:message name="BrugerPassiverRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:PassiverInput" />
  </wsdl:message>
  <wsdl:message name="BrugerSletRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:SletInput" />
  </wsdl:message>
  <wsdl:message name="BrugerLaesResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:LaesOutput" />
  </wsdl:message>
  <wsdl:message name="BrugerRetResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:RetOutput" />
  </wsdl:message>
  <wsdl:message name="BrugerRetRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:RetInput" />
  </wsdl:message>
  <wsdl:message name="BrugerImporterResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:ImportOutput" />
  </wsdl:message>
  <wsdl:message name="BrugerSoegResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:SoegOutput" />
  </wsdl:message>
  <wsdl:message name="BrugerOpretRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:OpretInput" />
  </wsdl:message>
  <wsdl:message name="BrugerSletResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:SletOutput" />
  </wsdl:message>
  <wsdl:message name="BrugerPassiverResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:PassiverOutput" />
  </wsdl:message>
  <wsdl:message name="BrugerSoegRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:SoegInput" />
  </wsdl:message>
  <wsdl:message name="BrugerListeRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:ListInput" />
  </wsdl:message>
  <wsdl:portType name="BrugerPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:BrugerOpretRequestMessage" />
      <wsdl:output message="tns:BrugerOpretResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:BrugerImporterRequestMessage" />
      <wsdl:output message="tns:BrugerImporterResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:BrugerPassiverRequestMessage" />
      <wsdl:output message="tns:BrugerPassiverResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:BrugerLaesRequestMessage" />
      <wsdl:output message="tns:BrugerLaesResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:BrugerRetRequestMessage" />
      <wsdl:output message="tns:BrugerRetResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:BrugerSletRequestMessage" />
      <wsdl:output message="tns:BrugerSletResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:BrugerSoegRequestMessage" />
      <wsdl:output message="tns:BrugerSoegResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:BrugerListeRequestMessage" />
      <wsdl:output message="tns:BrugerListeResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Bruger" type="tns:BrugerPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#ServiceplatformBindingPolicy" />
    <wsdl:operation name="opret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/opret" />
      <wsdl:input>
        <soap12:header message="tns:BrugerOpretRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerOpretResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/importer" />
      <wsdl:input>
        <soap12:header message="tns:BrugerImporterRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerImporterResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/passiver" />
      <wsdl:input>
        <soap12:header message="tns:BrugerPassiverRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerPassiverResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/laes" />
      <wsdl:input>
        <soap12:header message="tns:BrugerLaesRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerLaesResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/ret" />
      <wsdl:input>
        <soap12:header message="tns:BrugerRetRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerRetResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/slet" />
      <wsdl:input>
        <soap12:header message="tns:BrugerSletRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerSletResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/soeg" />
      <wsdl:input>
        <soap12:header message="tns:BrugerSoegRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerSoegResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/bruger/list" />
      <wsdl:input>
        <soap12:header message="tns:BrugerListeRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:BrugerListeResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BrugerService">
    <wsdl:port name="Bruger" binding="tns:Bruger">
      <soap12:address location="http://kombit.dk/sts/organisation/bruger" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>