Infrastructure.Soap/Connected Services/STSOrganisation/OrganisationServiceMsg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:callctx="http://serviceplatformen.dk/xml/schemas/CallContext/1/" xmlns:org="urn:oio:sts:organisation:organisation:1.1.3.0" xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Organisation/5/" xmlns:authctx="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/Organisation/5/" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="sp/CallContext_1.xsd" namespace="http://serviceplatformen.dk/xml/schemas/CallContext/1/" />
  <xsd:import schemaLocation="sp/AuthorityContext_1.xsd" namespace="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/" />
  <xsd:import schemaLocation="SF1500_EP_FS8/xsd/1.1.STS-3/OrganisationOperationer.xsd" namespace="urn:oio:sts:organisation:organisation:1.1.3.0" />
  <xsd:element name="ImporterRequest" type="tns:ImporterRequestType" />
  <xsd:complexType name="ImporterRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="org:ImportInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImporterResponse" type="tns:ImporterResponseType" />
  <xsd:complexType name="ImporterResponseType">
    <xsd:sequence>
      <xsd:element ref="org:ImportOutput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ListRequest" type="tns:ListRequestType" />
  <xsd:complexType name="ListRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="org:ListInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ListResponse" type="tns:ListResponseType" />
  <xsd:complexType name="ListResponseType">
    <xsd:sequence>
      <xsd:element ref="org:ListOutput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LaesRequest" type="tns:LaesRequestType" />
  <xsd:complexType name="LaesRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="org:LaesInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="LaesResponse" type="tns:LaesResponseType" />
  <xsd:complexType name="LaesResponseType">
    <xsd:sequence>
      <xsd:element ref="org:LaesOutput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OpretRequest" type="tns:OpretRequestType" />
  <xsd:complexType name="OpretRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="org:OpretInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OpretResponse" type="tns:OpretResponseType" />
  <xsd:complexType name="OpretResponseType">
    <xsd:sequence>
      <xsd:element ref="org:OpretOutput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PassiverRequest" type="tns:PassiverRequestType" />
  <xsd:complexType name="PassiverRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="org:PassiverInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PassiverResponse" type="tns:PassiverResponseType" />
  <xsd:complexType name="PassiverResponseType">
    <xsd:sequence>
      <xsd:element ref="org:PassiverOutput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RetRequest" type="tns:RetRequestType" />
  <xsd:complexType name="RetRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="org:RetInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RetResponse" type="tns:RetResponseType" />
  <xsd:complexType name="RetResponseType">
    <xsd:sequence>
      <xsd:element ref="org:RetOutput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SletRequest" type="tns:SletRequestType" />
  <xsd:complexType name="SletRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="org:SletInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SletResponse" type="tns:SletResponseType" />
  <xsd:complexType name="SletResponseType">
    <xsd:sequence>
      <xsd:element ref="org:SletOutput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SoegRequest" type="tns:SoegRequestType" />
  <xsd:complexType name="SoegRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="org:SoegInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SoegResponse" type="tns:SoegResponseType" />
  <xsd:complexType name="SoegResponseType">
    <xsd:sequence>
      <xsd:element ref="org:SoegOutput" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>