Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/InteressefaellesskabOperationer.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:orgfaelles="urn:oio:sts:organisation:1.1.3.0" xmlns:intfs="urn:oio:sts:organisation:interessefaellesskab:1.1.3.0" xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:interessefaellesskab:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <include schemaLocation="Interessefaellesskab.xsd" />
  <import schemaLocation="OrganisationFaelles.xsd" namespace="urn:oio:sts:organisation:1.1.3.0" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabimportinput:ADD:2.0.0" name="ImportInput" type="intfs:ImportInputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabimportoutput:ASDD:2.0.0" name="ImportOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabopretinput:ADD:2.0.0" name="OpretInput" type="intfs:OpretInputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabopretoutput:ADD:2.0.0" name="OpretOutput" type="sd:OpretOutputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabretinput:ADD:2.0.0" name="RetInput" type="intfs:RetInputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabretoutput:ASDD:1.0.0" name="RetOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabpassiverinput:ASDD:1.0.0" name="PassiverInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabpassiveroutput:ASDD:1.0.0" name="PassiverOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabsletinput:ASDD:1.0.0" name="SletInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabsletoutput:ASDD:1.0.0" name="SletOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskablaesinput:ASDD:1.0.0" name="LaesInput" type="sd:LaesInputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskablaesoutput:ADD:2.0.0" name="LaesOutput" type="intfs:LaesOutputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskablistinput:ASDD:1.0.0" name="ListInput" type="sd:ListInputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskablistoutput:ADD:2.0.0" name="ListOutput" type="intfs:ListOutputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabsoeginput:ADD:2.0.0" name="SoegInput" type="intfs:SoegInputType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskabsoegoutput:ASDD:1.0.0" name="SoegOutput" type="sd:SoegOutputType" />
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabimportinput:ADD:2.0.0" name="ImportInputType">
    <sequence>
      <element oio:content="interessefaellesskab" ref="intfs:Interessefaellesskab" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabopretinput:ADD:2.0.0" name="OpretInputType">
    <complexContent mixed="false">
      <extension base="sd:OpretInputType">
        <sequence>
          <element oio:content="attributter" ref="intfs:AttributListe" />
          <element oio:content="tilstande" ref="intfs:TilstandListe" />
          <element oio:content="relationer" ref="intfs:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabretinput:ADD:2.0.0" name="RetInputType">
    <complexContent mixed="false">
      <extension base="sd:RetInputType">
        <sequence>
          <element oio:content="attributter" minOccurs="0" ref="intfs:AttributListe" />
          <element oio:content="tilstande" minOccurs="0" ref="intfs:TilstandListe" />
          <element oio:content="relationer" minOccurs="0" ref="intfs:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskablaesoutput:ADD:2.0.0" name="LaesOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" name="FiltreretOejebliksbillede" type="intfs:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskablistoutput:ADD:2.0.0" name="ListOutputType">
    <complexContent mixed="false">
      <extension base="sd:ListOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="intfs:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabfiltreretoejebliksbillede:ADD:1.0.0" name="FiltreretOejebliksbilledeType">
    <sequence>
      <element oio:content="objekt" name="ObjektType" type="sd:SagDokObjektType" />
      <element oio:content="registrering" minOccurs="0" maxOccurs="unbounded" name="Registrering" type="intfs:RegistreringType" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabsoeginput:ADD:2.0.0" name="SoegInputType">
    <complexContent mixed="false">
      <extension base="sd:SoegInputType">
        <sequence>
          <sequence>
            <element oio:content="soegattributter" ref="intfs:AttributListe" />
            <element oio:content="soegtilstande" ref="intfs:TilstandListe" />
            <element oio:content="soegrelationer" ref="intfs:RelationListe" />
          </sequence>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>