Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/Interessefaellesskab.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:intfs="urn:oio:sts:organisation:interessefaellesskab:1.1.3.0" xmlns:orgfaelles="urn:oio:sts:organisation:1.1.3.0" xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:interessefaellesskab:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="OrganisationFaelles.xsd" namespace="urn:oio:sts:organisation:1.1.3.0" />
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskab:ADD:2.0.0" name="Interessefaellesskab" type="intfs:InteressefaellesskabType" />
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskab:ADD:2.0.0" name="InteressefaellesskabType">
    <complexContent mixed="false">
      <extension base="orgfaelles:AktoerType">
        <sequence>
          <element oio:content="registreringer" maxOccurs="unbounded" ref="intfs:Registrering" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:interessefaellesskabattributliste:ADD:2.0.0" name="AttributListe" type="intfs:AttributListeType" />
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabattributliste:ADD:2.0.0" name="AttributListeType">
    <sequence>
      <element oio:content="egenskaber" minOccurs="0" maxOccurs="unbounded" ref="intfs:Egenskab" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:interessefaellesskabtilstandliste:ADD:2.0.0" name="TilstandListe" type="intfs:TilstandListeType" />
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabtilstandliste:ADD:2.0.0" name="TilstandListeType">
    <sequence>
      <element oio:content="gyldighed" minOccurs="0" maxOccurs="unbounded" ref="orgfaelles:Gyldighed" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:interessefaellesskabrelationliste:ADD:2.0.0" name="RelationListe" type="intfs:RelationListeType" />
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabrelationliste:ADD:2.0.0" name="RelationListeType">
    <sequence>
      <element oio:content="adresser" minOccurs="0" maxOccurs="unbounded" ref="sd:Adresser" />
      <element oio:content="branche" minOccurs="0" ref="sd:Branche" />
      <element oio:content="interessefaellesskabstype" minOccurs="0" ref="sd:Interessefaellesskabstype" />
      <element oio:content="opgaver" minOccurs="0" maxOccurs="unbounded" ref="sd:Opgaver" />
      <element oio:content="overordnet" minOccurs="0" ref="sd:Overordnet" />
      <element oio:content="tilhoerer" minOccurs="0" ref="sd:Tilhoerer" />
      <element oio:content="tilknyttedebrugere" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeBrugere" />
      <element oio:content="tilknyttedeenheder" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeEnheder" />
      <element oio:content="tilknyttedefunktioner" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeFunktioner" />
      <element oio:content="tilknyttedeinteressefaellesskaber" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeInteressefaellesskaber" />
      <element oio:content="tilknyttedeorganisationer" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeOrganisationer" />
      <element oio:content="tilknyttedepersoner" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedePersoner" />
      <element oio:content="tilknyttedeitsystemer" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeItSystemer" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:interessefaellesskabregistrering:ADD:2.0.0" name="Registrering" type="intfs:RegistreringType" />
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabregistrering:ADD:2.0.0" name="RegistreringType">
    <complexContent mixed="false">
      <extension base="sd:RegistreringType">
        <sequence>
          <element oio:content="attributter" ref="intfs:AttributListe" />
          <element oio:content="tilstande" ref="intfs:TilstandListe" />
          <element oio:content="relationer" ref="intfs:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:interessefaellesskabegenskaber:ADD:1.0.0" name="Egenskab" type="intfs:EgenskabType" />
  <complexType oio:definition="urn:oio:sagdok:interessefaellesskabegenskaber:ADD:1.0.0" name="EgenskabType">
    <sequence>
      <element oio:content="virkning" minOccurs="0" ref="sd:Virkning" />
      <element oio:content="brugervendtnoegle" minOccurs="0" ref="sd:BrugervendtNoegleTekst" />
      <element oio:content="interessefaellesskabsnavn" minOccurs="0" ref="sd:InteressefaellesskabNavn" />
      <element oio:content="interessefaellesskabstype" minOccurs="0" ref="sd:InteressefaellesskabTypeTekst" />
    </sequence>
  </complexType>
</schema>