Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/ItSystemOperationer.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:orgfaelles="urn:oio:sts:organisation:1.1.3.0" xmlns:itsystem="urn:oio:sts:organisation:itsystem:1.1.3.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:itsystem:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <include schemaLocation="ItSystem.xsd" />
  <import schemaLocation="OrganisationFaelles.xsd" namespace="urn:oio:sts:organisation:1.1.3.0" />
  <element oio:definition="urn:oio:sagdok:itsystemimportinput:ADD:2.0.0" name="ImportInput" type="itsystem:ImportInputType" />
  <element oio:definition="urn:oio:sagdok:itsystemimportoutput:ASDD:2.0.0" name="ImportOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:itsystemopretinput:ADD:2.0.0" name="OpretInput" type="itsystem:OpretInputType" />
  <element oio:definition="urn:oio:sagdok:itsystemopretoutput:ADD:2.0.0" name="OpretOutput" type="sd:OpretOutputType" />
  <element oio:definition="urn:oio:sagdok:itsystemretinput:ADD:2.0.0" name="RetInput" type="itsystem:RetInputType" />
  <element oio:definition="urn:oio:sagdok:itsystemretoutput:ASDD:1.0.0" name="RetOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:itsystempassiverinput:ASDD:1.0.0" name="PassiverInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sagdok:itsystempassiveroutput:ASDD:1.0.0" name="PassiverOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:itsystemsletinput:ASDD:1.0.0" name="SletInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sagdok:itsystemsletoutput:ASDD:1.0.0" name="SletOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:itsystemlaesinput:ASDD:1.0.0" name="LaesInput" type="sd:LaesInputType" />
  <element oio:definition="urn:oio:sagdok:itsystemlaesoutput:ADD:2.0.0" name="LaesOutput" type="itsystem:LaesOutputType" />
  <element oio:definition="urn:oio:sagdok:itsystemlistinput:ASDD:1.0.0" name="ListInput" type="sd:ListInputType" />
  <element oio:definition="urn:oio:sagdok:itsystemlistoutput:ADD:2.0.0" name="ListOutput" type="itsystem:ListOutputType" />
  <element oio:definition="urn:oio:sagdok:itsystemsoeginput:ADD:2.0.0" name="SoegInput" type="itsystem:SoegInputType" />
  <element oio:definition="urn:oio:sagdok:itsystemsoegoutput:ASDD:1.0.0" name="SoegOutput" type="sd:SoegOutputType" />
  <complexType oio:definition="urn:oio:sagdok:itsystemimportinput:ADD:2.0.0" name="ImportInputType">
    <sequence>
      <element oio:content="itsystem" ref="itsystem:ItSystem" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:itsystemopretinput:ADD:2.0.0" name="OpretInputType">
    <complexContent mixed="false">
      <extension base="sd:OpretInputType">
        <sequence>
          <element oio:content="attributter" ref="itsystem:AttributListe" />
          <element oio:content="tilstande" ref="itsystem:TilstandListe" />
          <element oio:content="relationer" ref="itsystem:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:itsystemretinput:ADD:2.0.0" name="RetInputType">
    <complexContent mixed="false">
      <extension base="sd:RetInputType">
        <sequence>
          <element oio:content="attributter" minOccurs="0" ref="itsystem:AttributListe" />
          <element oio:content="tilstande" minOccurs="0" ref="itsystem:TilstandListe" />
          <element oio:content="relationer" minOccurs="0" ref="itsystem:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:itsystemlaesoutput:ADD:2.0.0" name="LaesOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" name="FiltreretOejebliksbillede" type="itsystem:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:itsystemlistoutput:ADD:2.0.0" name="ListOutputType">
    <complexContent mixed="false">
      <extension base="sd:ListOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="itsystem:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:itsystemfiltreretoejebliksbillede:ADD:1.0.0" name="FiltreretOejebliksbilledeType">
    <sequence>
      <element oio:content="objekt" name="ObjektType" type="sd:SagDokObjektType" />
      <element oio:content="registrering" minOccurs="0" maxOccurs="unbounded" name="Registrering" type="itsystem:RegistreringType" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:itsystemsoeginput:ADD:2.0.0" name="SoegInputType">
    <complexContent mixed="false">
      <extension base="sd:SoegInputType">
        <sequence>
          <sequence>
            <element oio:content="soegattributter" ref="itsystem:AttributListe" />
            <element oio:content="soegtilstande" ref="itsystem:TilstandListe" />
            <element oio:content="soegrelationer" ref="itsystem:RelationListe" />
          </sequence>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>