Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/ItSystem1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:orgfaelles="http://stoettesystemerne.dk/organisation/6/" xmlns:itsystem="http://stoettesystemerne.dk/organisation/itsystem/6/" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://stoettesystemerne.dk/organisation/itsystem/6/" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="OrganisationFaelles.xsd" namespace="http://stoettesystemerne.dk/organisation/6/" />
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <element oio:definition="urn:oio:sagdok:itsystem:ADD:2.0.0" name="ItSystem" type="itsystem:ItSystemType" />
  <complexType oio:definition="urn:oio:sagdok:itsystem:ADD:2.0.0" name="ItSystemType">
    <complexContent mixed="false">
      <extension base="orgfaelles:AktoerType">
        <sequence>
          <element oio:content="registreringer" maxOccurs="unbounded" ref="itsystem:Registrering" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:itsystemattributliste:ADD:2.0.0" name="AttributListe" type="itsystem:AttributListeType" />
  <complexType oio:definition="urn:oio:sagdok:itsystemattributliste:ADD:2.0.0" name="AttributListeType">
    <sequence>
      <element oio:content="egenskaber" minOccurs="0" maxOccurs="unbounded" ref="itsystem:Egenskab" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:itsystemtilstandliste:ADD:2.0.0" name="TilstandListe" type="itsystem:TilstandListeType" />
  <complexType oio:definition="urn:oio:sagdok:itsystemtilstandliste:ADD:2.0.0" name="TilstandListeType">
    <sequence>
      <element oio:content="gyldighed" minOccurs="0" maxOccurs="unbounded" ref="orgfaelles:Gyldighed" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:itsystemrelationliste:ADD:2.0.0" name="RelationListe" type="itsystem:RelationListeType" />
  <complexType oio:definition="urn:oio:sagdok:itsystemrelationliste:ADD:2.0.0" name="RelationListeType">
    <sequence>
      <element oio:content="adresser" minOccurs="0" maxOccurs="unbounded" ref="sd:Adresser" />
      <element oio:content="opgaver" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeOpgaver" />
      <element oio:content="systemtyper" minOccurs="0" maxOccurs="unbounded" ref="sd:SystemTyper" />
      <element oio:content="tilhoerer" minOccurs="0" maxOccurs="unbounded" ref="sd:Tilhoerer" />
      <element oio:content="tilknyttedebrugere" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeBrugere" />
      <element oio:content="tilknyttedeenheder" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeEnheder" />
      <element oio:content="tilknyttedefunktioner" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeFunktioner" />
      <element oio:content="tilknyttedeinteressefaellesskaber" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeInteressefaellesskaber" />
      <element oio:content="tilknyttedeorganisationer" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeOrganisationer" />
      <element oio:content="tilknyttedepersoner" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedePersoner" />
      <element oio:content="tilknyttedeitsystemer" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeItSystemer" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:itsystemregistrering:ADD:2.0.0" name="Registrering" type="itsystem:RegistreringType" />
  <complexType oio:definition="urn:oio:sagdok:itsystemregistrering:ADD:2.0.0" name="RegistreringType">
    <complexContent mixed="false">
      <extension base="sd:RegistreringType">
        <sequence>
          <element oio:content="attributter" ref="itsystem:AttributListe" />
          <element oio:content="tilstande" ref="itsystem:TilstandListe" />
          <element oio:content="relationer" ref="itsystem:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:itsystemegenskaber:ADD:1.0.0" name="Egenskab" type="itsystem:EgenskabType" />
  <complexType oio:definition="urn:oio:sagdok:itsystemegenskaber:ADD:1.0.0" name="EgenskabType">
    <sequence>
      <element oio:content="virkning" minOccurs="0" ref="sd:Virkning" />
      <element oio:content="brugervendtnoegle" minOccurs="0" ref="sd:BrugervendtNoegleTekst" />
      <element oio:content="itsystemnavn" minOccurs="0" ref="sd:ItSystemNavn" />
      <element oio:content="itsystemtype" minOccurs="0" ref="sd:ItSystemTypeTekst" />
      <element oio:content="konfigurationselementer" minOccurs="0" maxOccurs="unbounded" ref="sd:KonfigurationReference" />
    </sequence>
  </complexType>
</schema>