Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/MyndighedOperationer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:myndighed="http://stoettesystemerne.dk/organisation/myndighed/6/" xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:sts="urn:oio:sts:6" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://stoettesystemerne.dk/organisation/myndighed/6/" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <import schemaLocation="GenerelleDefinitioner.xsd" namespace="urn:oio:sts:6" />
  <include schemaLocation="Myndighed.xsd" />
  <element oio:definition="urn:oio:sts:myndighedimportinput:ADD:2.0.0" name="ImportInput" type="myndighed:ImportInputType" />
  <element oio:definition="urn:oio:sts:myndighedimportoutput:ASDD:2.0.0" name="ImportOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:myndighedopretinput:ADD:2.0.0" name="OpretInput" type="myndighed:OpretInputType" />
  <element oio:definition="urn:oio:sts:myndighedopretoutput:ADD:2.0.0" name="OpretOutput" type="sd:OpretOutputType" />
  <element oio:definition="urn:oio:sts:myndighedretinput:ADD:2.0.0" name="RetInput" type="myndighed:RetInputType" />
  <element oio:definition="urn:oio:sts:myndighedretoutput:ASDD:1.0.0" name="RetOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:myndighedpassiverinput:ASDD:1.0.0" name="PassiverInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sts:myndighedpassiveroutput:ASDD:1.0.0" name="PassiverOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:myndighedsletinput:ASDD:1.0.0" name="SletInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sts:myndighedsletoutput:ASDD:1.0.0" name="SletOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:myndighedlaesinput:ASDD:1.0.0" name="LaesInput" type="sd:LaesInputType" />
  <element oio:definition="urn:oio:sts:myndighedlaesoutput:ADD:2.0.0" name="LaesOutput" type="myndighed:LaesOutputType" />
  <element oio:definition="urn:oio:sts:myndighedlistinput:ASDD:1.0.0" name="ListInput" type="sd:ListInputType" />
  <element oio:definition="urn:oio:sts:myndighedlistoutput:ADD:2.0.0" name="ListOutput" type="myndighed:ListOutputType" />
  <element oio:definition="urn:oio:sts:myndighedsoeginput:ADD:2.0.0" name="SoegInput" type="myndighed:SoegInputType" />
  <element oio:definition="urn:oio:sts:myndighedsoegoutput:ASDD:1.0.0" name="SoegOutput" type="sd:SoegOutputType" />
  <complexType oio:definition="urn:oio:sts:myndighedimportinput:ADD:2.0.0" name="ImportInputType">
    <sequence>
      <element oio:content="myndighed" ref="myndighed:Myndighed" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sts:myndighedopretinput:ADD:2.0.0" name="OpretInputType">
    <complexContent mixed="false">
      <extension base="sd:OpretInputType">
        <sequence>
          <element oio:content="attributter" ref="myndighed:AttributListe" />
          <element oio:content="tilstande" ref="myndighed:TilstandListe" />
          <element oio:content="relationer" ref="myndighed:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:myndighedretinput:ADD:2.0.0" name="RetInputType">
    <complexContent mixed="false">
      <extension base="sd:RetInputType">
        <sequence>
          <element oio:content="attributter" minOccurs="0" ref="myndighed:AttributListe" />
          <element oio:content="tilstande" minOccurs="0" ref="myndighed:TilstandListe" />
          <element oio:content="relationer" minOccurs="0" ref="myndighed:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:myndighedlaesoutput:ADD:2.0.0" name="LaesOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" name="FiltreretOejebliksbillede" type="myndighed:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:myndighedlistoutput:ADD:2.0.0" name="ListOutputType">
    <complexContent mixed="false">
      <extension base="sd:ListOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="myndighed:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:myndighedfiltreretoejebliksbillede:ADD:1.0.0" name="FiltreretOejebliksbilledeType">
    <sequence>
      <element oio:content="objekt" name="ObjektType" type="sd:SagDokObjektType" />
      <element oio:content="registrering" minOccurs="0" maxOccurs="unbounded" name="Registrering" type="myndighed:RegistreringType" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sts:myndighedsoeginput:ADD:2.0.0" name="SoegInputType">
    <complexContent mixed="false">
      <extension base="sd:SoegInputType">
        <sequence>
          <sequence>
            <element oio:content="soegattributter" ref="myndighed:AttributListe" />
            <element oio:content="soegtilstande" ref="myndighed:TilstandListe" />
            <element oio:content="soegrelationer" ref="myndighed:RelationListe" />
          </sequence>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>