Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/Myndighed1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sts="urn:oio:sts:6" xmlns:part="urn:oio:sts:part:6" xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:myndighed="http://stoettesystemerne.dk/organisation/myndighed/6/" xmlns:orgfaelles="http://stoettesystemerne.dk/organisation/6/" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://stoettesystemerne.dk/organisation/myndighed/6/" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <import schemaLocation="GenerelleDefinitioner.xsd" namespace="urn:oio:sts:6" />
  <import schemaLocation="Part.xsd" namespace="urn:oio:sts:part:6" />
  <element oio:definition="urn:oio:sagdok:myndighed:ADD:2.0.0" name="Myndighed" type="myndighed:MyndighedType" />
  <complexType oio:definition="urn:oio:sagdok:myndighed:ADD:2.0.0" name="MyndighedType">
    <complexContent mixed="false">
      <extension base="part:PartType">
        <sequence>
          <element oio:content="registreringer" maxOccurs="unbounded" ref="myndighed:Registrering" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:myndighedattributliste:ADD:2.0.0" name="AttributListe" type="myndighed:AttributListeType" />
  <complexType oio:definition="urn:oio:sagdok:myndighedattributliste:ADD:2.0.0" name="AttributListeType">
    <sequence>
      <element oio:content="egenskaber" minOccurs="0" maxOccurs="unbounded" ref="myndighed:Egenskab" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:myndighedtilstandliste:ADD:2.0.0" name="TilstandListe" type="myndighed:TilstandListeType" />
  <complexType oio:definition="urn:oio:sagdok:myndighedtilstandliste:ADD:2.0.0" name="TilstandListeType">
    <sequence />
  </complexType>
  <element oio:definition="urn:oio:sagdok:myndighedrelationliste:ADD:2.0.0" name="RelationListe" type="myndighed:RelationListeType" />
  <complexType oio:definition="urn:oio:sagdok:myndighedrelationliste:ADD:2.0.0" name="RelationListeType">
    <sequence />
  </complexType>
  <element oio:definition="urn:oio:sagdok:myndighedregistrering:ADD:2.0.0" name="Registrering" type="myndighed:RegistreringType" />
  <complexType oio:definition="urn:oio:sagdok:myndighedregistrering:ADD:2.0.0" name="RegistreringType">
    <complexContent mixed="false">
      <extension base="sd:RegistreringType">
        <sequence>
          <element oio:content="attributter" ref="myndighed:AttributListe" />
          <element oio:content="tilstande" ref="myndighed:TilstandListe" />
          <element oio:content="relationer" ref="myndighed:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:myndighedegenskaber:ADD:1.0.0" name="Egenskab" type="myndighed:EgenskabType" />
  <complexType oio:definition="urn:oio:sagdok:myndighedegenskaber:ADD:1.0.0" name="EgenskabType">
    <sequence>
      <element oio:content="virkning" minOccurs="0" ref="sd:Virkning" />
      <element oio:content="brugervendtnoegle" minOccurs="0" ref="sd:BrugervendtNoegleTekst" />
      <element oio:content="cvrnr" minOccurs="0" ref="sts:CVR-NummerTekst" />
      <element oio:content="navn" minOccurs="0" ref="sts:NavnTekst" />
      <element oio:content="myndighedskode" minOccurs="0" ref="sts:MyndighedsKode" />
    </sequence>
  </complexType>
</schema>