Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/OrganisationEnhedBesked.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:orgenhed="http://stoettesystemerne.dk/organisation/organisationenhed/6/" xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://stoettesystemerne.dk/organisation/organisationenhed/6/" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <include schemaLocation="OrganisationEnhed.xsd" />
  <element oio:definition="urn:oio:sagdok:organisationenhedregistreringbesked:ADD:1.0.0" name="RegistreringBesked" type="orgenhed:RegistreringBeskedType" />
  <complexType oio:definition="urn:oio:sagdok:organisationenhedregistreringbesked:ADD:1.0.0" name="RegistreringBeskedType">
    <sequence>
      <element oio:definition="urn:oio:sagdok:referenceid:ASDD:1.0.0" name="ObjektID" type="sd:UnikIdType" />
      <element oio:content="registrering" minOccurs="1" ref="orgenhed:Registrering" />
    </sequence>
  </complexType>
</schema>