Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/OrganisationSystemService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://stoettesystemerne.dk/organisation/6/" xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/" xmlns:sts="http://stoettesystemerne.dk/organisation/organisationsystem/6/" xmlns="http://www.w3.org/2001/XMLSchema" name="OrganisationSystemService" targetNamespace="http://stoettesystemerne.dk/organisation/6/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://serviceplatformen.dk/xml/wsdl/soap11/Security/Policy" location="policies/OIOIDWS.wsdl" />
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationSystemOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/organisationsystem/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/organisation/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Organisation.xsd" namespace="http://stoettesystemerne.dk/organisation/organisation/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/organisation/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationEnhedOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/organisationenhed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationEnhed.xsd" namespace="http://stoettesystemerne.dk/organisation/organisationenhed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationEnhedBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/organisationenhed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationFunktionOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/organisationfunktion/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationFunktion.xsd" namespace="http://stoettesystemerne.dk/organisation/organisationfunktion/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationFunktionBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/organisationfunktion/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/AdresseOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/adresse/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Adresse.xsd" namespace="http://stoettesystemerne.dk/organisation/adresse/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/AdresseBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/adresse/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/PersonOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/person/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Person.xsd" namespace="http://stoettesystemerne.dk/organisation/person/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/PersonBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/person/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/BrugerOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/bruger/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Bruger.xsd" namespace="http://stoettesystemerne.dk/organisation/bruger/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/BrugerBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/bruger/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/InteressefaellesskabOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/interessefaellesskab/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Interessefaellesskab.xsd" namespace="http://stoettesystemerne.dk/organisation/interessefaellesskab/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/InteressefaellesskabBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/interessefaellesskab/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/ItSystemOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/itsystem/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/ItSystem.xsd" namespace="http://stoettesystemerne.dk/organisation/itsystem/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/ItSystemBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/itsystem/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/MyndighedOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/myndighed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Myndighed.xsd" namespace="http://stoettesystemerne.dk/organisation/myndighed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/MyndighedBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/myndighed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/VirksomhedOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/virksomhed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Virksomhed.xsd" namespace="http://stoettesystemerne.dk/organisation/virksomhed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/VirksomhedBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/virksomhed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationFaelles.xsd" namespace="http://stoettesystemerne.dk/organisation/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Part.xsd" namespace="urn:oio:sts:part:6" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/GenerelleDefinitioner.xsd" namespace="urn:oio:sts:6" />
      <xsd:import schemaLocation="../xsd/common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
      <xsd:import schemaLocation="../xsd/common/RequestHeader.xsd" namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FremsoegObjekthierarkiRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="sts:FremsoegObjekthierarkiInput" />
  </wsdl:message>
  <wsdl:message name="FremsoegObjekthierarkiResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="sts:FremsoegObjekthierarkiOutput" />
  </wsdl:message>
  <wsdl:message name="ImporterOrganisationSystemRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="sts:ImporterOrganisationSystemInput" />
  </wsdl:message>
  <wsdl:message name="ImporterOrganisationSystemResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="sts:ImporterOrganisationSystemOutput" />
  </wsdl:message>
  <wsdl:message name="AnonymiserRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="sts:AnonymiserInput" />
  </wsdl:message>
  <wsdl:message name="AnonymiserResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="sts:AnonymiserOutput" />
  </wsdl:message>
  <wsdl:portType name="OrganisationSystemPortType">
    <wsdl:operation name="fremsoegobjekthierarki">
      <wsdl:input message="tns:FremsoegObjekthierarkiRequestMessage" />
      <wsdl:output message="tns:FremsoegObjekthierarkiResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="import">
      <wsdl:input message="tns:ImporterOrganisationSystemRequestMessage" />
      <wsdl:output message="tns:ImporterOrganisationSystemResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="anonymiser">
      <wsdl:input message="tns:AnonymiserRequestMessage" />
      <wsdl:output message="tns:AnonymiserResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrganisationSystem" type="tns:OrganisationSystemPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#ServiceplatformBindingPolicy" />
    <wsdl:operation name="fremsoegobjekthierarki">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/organisationssystem/fremsoegobjekthierarki" />
      <wsdl:input>
        <soap12:header message="tns:FremsoegObjekthierarkiRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:FremsoegObjekthierarkiResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="import">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/organisationssystem/import" />
      <wsdl:input>
        <soap12:header message="tns:ImporterOrganisationSystemRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ImporterOrganisationSystemResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anonymiser">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/organisationssystem/anonymiser" />
      <wsdl:input>
        <soap12:header message="tns:AnonymiserRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:AnonymiserResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganisationSystemService">
    <wsdl:port name="OrganisationSystem" binding="tns:OrganisationSystem">
      <soap12:address location="http://kombit.dk/sts/organisation/organisationssystem" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>