Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/OrganisationFunktionOperationer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:orgfaelles="http://stoettesystemerne.dk/organisation/6/" xmlns:orgfunk="http://stoettesystemerne.dk/organisation/organisationfunktion/6/" xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://stoettesystemerne.dk/organisation/organisationfunktion/6/" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <include schemaLocation="OrganisationFunktion.xsd" />
  <import schemaLocation="OrganisationFaelles.xsd" namespace="http://stoettesystemerne.dk/organisation/6/" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionimportinput:ADD:2.0.0" name="ImportInput" type="orgfunk:ImportInputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionimportoutput:ASDD:2.0.0" name="ImportOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionopretinput:ADD:2.0.0" name="OpretInput" type="orgfunk:OpretInputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionopretoutput:ADD:2.0.0" name="OpretOutput" type="sd:OpretOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionretinput:ADD:2.0.0" name="RetInput" type="orgfunk:RetInputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionretoutput:ASDD:1.0.0" name="RetOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionpassiverinput:ASDD:1.0.0" name="PassiverInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionpassiveroutput:ASDD:1.0.0" name="PassiverOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionsletinput:ASDD:1.0.0" name="SletInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionsletoutput:ASDD:1.0.0" name="SletOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionlaesinput:ASDD:1.0.0" name="LaesInput" type="sd:LaesInputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionlaesoutput:ADD:2.0.0" name="LaesOutput" type="orgfunk:LaesOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionsoeginput:ADD:2.0.0" name="SoegInput" type="orgfunk:SoegInputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionsoegoutput:ASDD:1.0.0" name="SoegOutput" type="sd:SoegOutputType" />
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionimportinput:ADD:2.0.0" name="ImportInputType">
    <sequence>
      <element oio:content="organisationfunktion" ref="orgfunk:OrganisationFunktion" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionopretinput:ADD:2.0.0" name="OpretInputType">
    <complexContent mixed="false">
      <extension base="sd:OpretInputType">
        <sequence>
          <element oio:content="attributter" ref="orgfunk:AttributListe" />
          <element oio:content="tilstande" ref="orgfunk:TilstandListe" />
          <element oio:content="relationer" ref="orgfunk:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionretinput:ADD:2.0.0" name="RetInputType">
    <complexContent mixed="false">
      <extension base="sd:RetInputType">
        <sequence>
          <element oio:content="attributter" minOccurs="0" ref="orgfunk:AttributListe" />
          <element oio:content="tilstande" minOccurs="0" ref="orgfunk:TilstandListe" />
          <element oio:content="relationer" minOccurs="0" ref="orgfunk:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionlaesoutput:ADD:2.0.0" name="LaesOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" name="FiltreretOejebliksbillede" type="orgfunk:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationfunktionlistinput:ASDD:1.0.0" name="ListInput" type="sd:ListInputType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionlistoutput:ADD:2.0.0" name="ListOutput" type="orgfunk:ListOutputType" />
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionlistoutput:ADD:2.0.0" name="ListOutputType">
    <complexContent mixed="false">
      <extension base="sd:ListOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="orgfunk:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionfiltreretoejebliksbillede:ADD:1.0.0" name="FiltreretOejebliksbilledeType">
    <sequence>
      <element oio:content="objekt" name="ObjektType" type="sd:SagDokObjektType" />
      <element oio:content="registrering" minOccurs="0" maxOccurs="unbounded" name="Registrering" type="orgfunk:RegistreringType" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionsoeginput:ADD:2.0.0" name="SoegInputType">
    <complexContent mixed="false">
      <extension base="sd:SoegInputType">
        <sequence>
          <sequence>
            <element oio:content="soegattributter" ref="orgfunk:AttributListe" />
            <element oio:content="soegtilstande" ref="orgfunk:TilstandListe" />
            <element oio:content="soegrelationer" ref="orgfunk:RelationListe" />
          </sequence>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>