Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/OrganisationFunktion.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:orgfunk="urn:oio:sts:organisation:organisationfunktion:1.1.3.0" xmlns:orgfaelles="urn:oio:sts:organisation:1.1.3.0" xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:organisationfunktion:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="OrganisationFaelles.xsd" namespace="urn:oio:sts:organisation:1.1.3.0" />
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <element oio:definition="urn:oio:sagdok:organisationfunktion:ADD:2.0.0" name="OrganisationFunktion" type="orgfunk:OrganisationFunktionType" />
  <complexType oio:definition="urn:oio:sagdok:organisationfunktion:ADD:2.0.0" name="OrganisationFunktionType">
    <complexContent mixed="false">
      <extension base="orgfaelles:AktoerType">
        <sequence>
          <element oio:content="registreringer" maxOccurs="unbounded" ref="orgfunk:Registrering" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationfunktionattributliste:ADD:2.0.0" name="AttributListe" type="orgfunk:AttributListeType" />
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionattributliste:ADD:2.0.0" name="AttributListeType">
    <sequence>
      <element oio:content="egenskaber" minOccurs="0" maxOccurs="unbounded" ref="orgfunk:Egenskab" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationfunktiontilstandliste:ADD:2.0.0" name="TilstandListe" type="orgfunk:TilstandListeType" />
  <complexType oio:definition="urn:oio:sagdok:organisationfunktiontilstandliste:ADD:2.0.0" name="TilstandListeType">
    <sequence>
      <element oio:content="gyldighed" minOccurs="0" maxOccurs="unbounded" ref="orgfaelles:Gyldighed" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationfunktionrelationliste:ADD:2.0.0" name="RelationListe" type="orgfunk:RelationListeType" />
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionrelationliste:ADD:2.0.0" name="RelationListeType">
    <sequence>
      <element oio:content="adresser" minOccurs="0" maxOccurs="unbounded" ref="sd:Adresser" />
      <element oio:content="funktionstype" minOccurs="0" ref="sd:Funktionstype" />
      <element oio:content="opgaver" minOccurs="0" maxOccurs="unbounded" ref="sd:Opgaver" />
      <element oio:content="tilknyttedebrugere" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeBrugere" />
      <element oio:content="tilknyttedeenheder" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeEnheder" />
      <element oio:content="tilknyttedeinteressefaellesskaber" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeInteressefaellesskaber" />
      <element oio:content="tilknyttedeorganisationer" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeOrganisationer" />
      <element oio:content="tilknyttedepersoner" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedePersoner" />
      <element oio:content="tilknyttedeitsystemer" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeItSystemer" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationfunktionregistrering:ADD:2.0.0" name="Registrering" type="orgfunk:RegistreringType" />
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionregistrering:ADD:2.0.0" name="RegistreringType">
    <complexContent mixed="false">
      <extension base="sd:RegistreringType">
        <sequence>
          <element oio:content="attributter" ref="orgfunk:AttributListe" />
          <element oio:content="tilstande" ref="orgfunk:TilstandListe" />
          <element oio:content="relationer" ref="orgfunk:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationfunktionegenskaber:ADD:1.0.0" name="Egenskab" type="orgfunk:EgenskabType" />
  <complexType oio:definition="urn:oio:sagdok:organisationfunktionegenskaber:ADD:1.0.0" name="EgenskabType">
    <sequence>
      <element oio:content="virkning" minOccurs="0" ref="sd:Virkning" />
      <element oio:content="brugervendtnoegle" minOccurs="0" ref="sd:BrugervendtNoegleTekst" />
      <element oio:content="organisationfunktionsnavn" minOccurs="0" ref="sd:FunktionNavn" />
    </sequence>
  </complexType>
</schema>