Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/OrganisationSystemOperationer.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:organisationenhed="urn:oio:sts:organisation:organisationenhed:1.1.3.0" xmlns:sts="urn:oio:sts:organisation:organisationsystem:1.1.3.0" xmlns:organisation="urn:oio:sts:organisation:organisation:1.1.3.0" xmlns:organisationfunktion="urn:oio:sts:organisation:organisationfunktion:1.1.3.0" xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:itsystem="urn:oio:sts:organisation:itsystem:1.1.3.0" xmlns:bruger="urn:oio:sts:organisation:bruger:1.1.3.0" xmlns:interessefaellesskab="urn:oio:sts:organisation:interessefaellesskab:1.1.3.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:organisationsystem:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <import schemaLocation="OrganisationOperationer.xsd" namespace="urn:oio:sts:organisation:organisation:1.1.3.0" />
  <import schemaLocation="OrganisationEnhedOperationer.xsd" namespace="urn:oio:sts:organisation:organisationenhed:1.1.3.0" />
  <import schemaLocation="OrganisationFunktionOperationer.xsd" namespace="urn:oio:sts:organisation:organisationfunktion:1.1.3.0" />
  <import schemaLocation="BrugerOperationer.xsd" namespace="urn:oio:sts:organisation:bruger:1.1.3.0" />
  <import schemaLocation="InteressefaellesskabOperationer.xsd" namespace="urn:oio:sts:organisation:interessefaellesskab:1.1.3.0" />
  <import schemaLocation="ItSystemOperationer.xsd" namespace="urn:oio:sts:organisation:itsystem:1.1.3.0" />
  <import schemaLocation="AdresseOperationer.xsd" namespace="urn:oio:sts:organisation:adresse:1.1.3.0" />
  <import schemaLocation="MyndighedOperationer.xsd" namespace="urn:oio:sts:organisation:myndighed:1.1.3.0" />
  <import schemaLocation="PersonOperationer.xsd" namespace="urn:oio:sts:organisation:person:1.1.3.0" />
  <import schemaLocation="VirksomhedOperationer.xsd" namespace="urn:oio:sts:organisation:virksomhed:1.1.3.0" />
  <element oio:definition="urn:oio:sts:fremsoegobjekthierarkiinput:ADD:2.0.0" name="FremsoegObjekthierarkiInput" type="sts:FremsoegObjekthierarkiInputType" />
  <element oio:definition="urn:oio:sts:fremsoegobjekthierarkioutput:ADD:2.0.0" name="FremsoegObjekthierarkiOutput" type="sts:FremsoegObjekthierarkiOutputType" />
  <element oio:definition="urn:oio:sts:organisationssystemimportinput:ADD:2.0.0" name="ImporterOrganisationSystemInput" type="sts:ImporterOrganisationSystemInputType" />
  <element oio:definition="urn:oio:sts:organisationssystemimportoutput:ADD:2.0.0" name="ImporterOrganisationSystemOutput" type="sd:MultipleOutputType" />
  <complexType oio:definition="urn:oio:sts:fremsoegobjekthierarkiinputADD:2.0.0" name="FremsoegObjekthierarkiInputType">
    <complexContent mixed="false">
      <extension base="sd:SoegInputType">
        <sequence>
          <element oio:content="organisationegenskaber" minOccurs="0" maxOccurs="1" ref="sts:OrganisationSoegEgenskab" />
          <element oio:content="organisationenhedegenskaber" minOccurs="0" maxOccurs="1" ref="sts:OrganisationEnhedSoegEgenskab" />
          <element oio:content="organisationfunktionegenskaber" minOccurs="0" maxOccurs="1" ref="sts:OrganisationFunktionSoegEgenskab" />
          <element oio:content="brugeregenskaber" minOccurs="0" maxOccurs="1" ref="sts:BrugerSoegEgenskab" />
          <element oio:content="interessefaellesskabegenskaber" minOccurs="0" maxOccurs="1" ref="sts:InteressefaellesskabSoegEgenskab" />
          <element oio:content="itsystemegenskaber" minOccurs="0" maxOccurs="1" ref="sts:ItSystemSoegEgenskab" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:fremsoegobjekthierarkioutputADD:2.0.0" name="FremsoegObjekthierarkiOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="organisationer" ref="sts:Organisationer" />
          <element oio:content="organisationenheder" ref="sts:OrganisationEnheder" />
          <element oio:content="organisationfunktioner" ref="sts:OrganisationFunktioner" />
          <element oio:content="brugere" ref="sts:Brugere" />
          <element oio:content="interessefaellesskaber" ref="sts:Interessefaellesskaber" />
          <element oio:content="itsystemer" ref="sts:ItSystemer" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:organisationssystemimportinputtype:ADD:2.0.0" name="ImporterOrganisationSystemInputType">
    <sequence>
      <element oio:content="urn:oio:sagdok:organisation:ADD:2.0.0" minOccurs="1" maxOccurs="1" ref="organisation:Organisation" />
      <element oio:content="organisationenheder" ref="sts:OrganisationEnhederInput" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationsoegegenskab:ADD:1.0.0" name="OrganisationSoegEgenskab" type="organisation:EgenskabType" />
  <element oio:definition="urn:oio:sagdok:organisationenhedsoegegenskab:ADD:1.0.0" name="OrganisationEnhedSoegEgenskab" type="organisationenhed:EgenskabType" />
  <element oio:definition="urn:oio:sagdok:organisationfunktionsoegegenskab:ADD:1.0.0" name="OrganisationFunktionSoegEgenskab" type="organisationfunktion:EgenskabType" />
  <element oio:definition="urn:oio:sagdok:brugersoegegenskab:ADD:1.0.0" name="BrugerSoegEgenskab" type="bruger:EgenskabType" />
  <element oio:definition="urn:oio:sagdok:interessefaellesskab:ADD:1.0.0" name="InteressefaellesskabSoegEgenskab" type="interessefaellesskab:EgenskabType" />
  <element oio:definition="urn:oio:sagdok:itsystem:ADD:1.0.0" name="ItSystemSoegEgenskab" type="itsystem:EgenskabType" />
  <element oio:definition="urn:oio:sts:organisationer:ADD:2.0.0" name="Organisationer" type="sts:OrganisationerOutputType" />
  <complexType oio:definition="urn:oio:sts:organisationer:ADD:2.0.0" name="OrganisationerOutputType">
    <sequence>
      <element oio:content="urn:oio:sagdok:organisation:ADD:2.0.0" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="organisation:FiltreretOejebliksbilledeType" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sts:organisationenheder:ADD:2.0.0" name="OrganisationEnheder" type="sts:OrganisationEnhederOutputType" />
  <complexType oio:definition="urn:oio:sts:organisationenheder:ADD:2.0.0" name="OrganisationEnhederOutputType">
    <sequence>
      <element oio:content="urn:oio:sagdok:organisationenhed:ADD:2.0.0" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="organisationenhed:FiltreretOejebliksbilledeType" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sts:organisationfunktioner:ADD:2.0.0" name="OrganisationFunktioner" type="sts:OrganisationFunktionerOutputType" />
  <complexType oio:definition="urn:oio:sts:organisationfunktioner:ADD:2.0.0" name="OrganisationFunktionerOutputType">
    <sequence>
      <element oio:content="urn:oio:sagdok:organisationfunktion:ADD:2.0.0" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="organisationfunktion:FiltreretOejebliksbilledeType" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sts:brugere:ADD:2.0.0" name="Brugere" type="sts:BrugereOutputType" />
  <complexType oio:definition="urn:oio:sts:brugere:ADD:2.0.0" name="BrugereOutputType">
    <sequence>
      <element oio:content="urn:oio:sagdok:bruger:ADD:2.0.0" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="bruger:FiltreretOejebliksbilledeType" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sts:interessefaellesskaber:ADD:2.0.0" name="Interessefaellesskaber" type="sts:InteressefaellesskaberOutputType" />
  <complexType oio:definition="urn:oio:sts:interessefaellesskaber:ADD:2.0.0" name="InteressefaellesskaberOutputType">
    <sequence>
      <element oio:content="urn:oio:sagdok:interessefaellesskab:ADD:2.0.0" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="interessefaellesskab:FiltreretOejebliksbilledeType" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sts:itsystemer:ADD:2.0.0" name="ItSystemer" type="sts:ItSystemerOutputType" />
  <complexType oio:definition="urn:oio:sts:itsystemer:ADD:2.0.0" name="ItSystemerOutputType">
    <sequence>
      <element oio:content="urn:oio:sagdok:itsystem:ADD:2.0.0" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="itsystem:FiltreretOejebliksbilledeType" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sts:organisationenheder:ADD:2.0.0" name="OrganisationEnhederInput" type="sts:OrganisationEnhederInputType" />
  <complexType oio:definition="urn:oio:sts:organisationenheder:ADD:2.0.0" name="OrganisationEnhederInputType">
    <sequence>
      <element oio:content="urn:oio:sagdok:organisationenhed:ADD:2.0.0" minOccurs="0" maxOccurs="unbounded" ref="organisationenhed:OrganisationEnhed" />
    </sequence>
  </complexType>
</schema>