Infrastructure.STS.OrganizationSystem/Connected Services/OrganisationSystem/OrganisationSystemServiceMsg.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:authctx="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/" xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/OrganisationSystem/5/" xmlns:orgsys="urn:oio:sts:organisation:organisationsystem:1.1.3.0" xmlns:callctx="http://serviceplatformen.dk/xml/schemas/CallContext/1/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/Organisation/OrganisationSystem/5/" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="sp/CallContext_1.xsd" namespace="http://serviceplatformen.dk/xml/schemas/CallContext/1/" />
  <xsd:import schemaLocation="sp/AuthorityContext_1.xsd" namespace="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/" />
  <xsd:import schemaLocation="SF1500_EP_FS9/xsd/1.1.STS-3/OrganisationSystemOperationer.xsd" namespace="urn:oio:sts:organisation:organisationsystem:1.1.3.0" />
  <xsd:element name="FremsoegobjekthierarkiRequest" type="tns:FremsoegobjekthierarkiRequestType" />
  <xsd:complexType name="FremsoegobjekthierarkiRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="orgsys:FremsoegObjekthierarkiInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FremsoegobjekthierarkiResponse" type="tns:FremsoegobjekthierarkiResponseType" />
  <xsd:complexType name="FremsoegobjekthierarkiResponseType">
    <xsd:sequence>
      <xsd:element ref="orgsys:FremsoegObjekthierarkiOutput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImportRequest" type="tns:ImportRequestType" />
  <xsd:complexType name="ImportRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="callctx:CallContext" />
      <xsd:element minOccurs="0" ref="authctx:AuthorityContext" />
      <xsd:element ref="orgsys:ImporterOrganisationSystemInput" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ImportResponse" type="tns:ImportResponseType" />
  <xsd:complexType name="ImportResponseType">
    <xsd:sequence>
      <xsd:element ref="orgsys:ImporterOrganisationSystemOutput" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>