Infrastructure.STS.Organization/Connected Services/ServiceReference/OrganisationOperationer.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:org="urn:oio:sts:organisation:organisation:1.1.3.0" xmlns:orgfaelles="urn:oio:sts:organisation:1.1.3.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:organisation:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <include schemaLocation="Organisation.xsd" />
  <import schemaLocation="OrganisationFaelles.xsd" namespace="urn:oio:sts:organisation:1.1.3.0" />
  <element oio:definition="urn:oio:sagdok:organisationimportinput:ADD:2.0.0" name="ImportInput" type="org:ImportInputType" />
  <element oio:definition="urn:oio:sagdok:organisationimportoutput:ASDD:2.0.0" name="ImportOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationopretinput:ADD:2.0.0" name="OpretInput" type="org:OpretInputType" />
  <element oio:definition="urn:oio:sagdok:organisationopretoutput:ADD:2.0.0" name="OpretOutput" type="sd:OpretOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationretinput:ADD:2.0.0" name="RetInput" type="org:RetInputType" />
  <element oio:definition="urn:oio:sagdok:organisationretoutput:ASDD:1.0.0" name="RetOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationpassiverinput:ASDD:1.0.0" name="PassiverInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sagdok:organisationpassiveroutput:ASDD:1.0.0" name="PassiverOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationsletinput:ASDD:1.0.0" name="SletInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sagdok:organisationsletoutput:ASDD:1.0.0" name="SletOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationlaesinput:ASDD:1.0.0" name="LaesInput" type="sd:LaesInputType" />
  <element oio:definition="urn:oio:sagdok:organisationlaesoutput:ADD:2.0.0" name="LaesOutput" type="org:LaesOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationlistinput:ASDD:1.0.0" name="ListInput" type="sd:ListInputType" />
  <element oio:definition="urn:oio:sagdok:organisationlistoutput:ADD:2.0.0" name="ListOutput" type="org:ListOutputType" />
  <element oio:definition="urn:oio:sagdok:organisationsoeginput:ADD:2.0.0" name="SoegInput" type="org:SoegInputType" />
  <element oio:definition="urn:oio:sagdok:organisationsoegoutput:ASDD:1.0.0" name="SoegOutput" type="sd:SoegOutputType" />
  <complexType oio:definition="urn:oio:sagdok:organisationimportinput:ADD:2.0.0" name="ImportInputType">
    <sequence>
      <element oio:content="organisation" ref="org:Organisation" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationopretinput:ADD:2.0.0" name="OpretInputType">
    <complexContent mixed="false">
      <extension base="sd:OpretInputType">
        <sequence>
          <element oio:content="attributter" ref="org:AttributListe" />
          <element oio:content="tilstande" ref="org:TilstandListe" />
          <element oio:content="relationer" ref="org:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationretinput:ADD:2.0.0" name="RetInputType">
    <complexContent mixed="false">
      <extension base="sd:RetInputType">
        <sequence>
          <element oio:content="attributter" minOccurs="0" ref="org:AttributListe" />
          <element oio:content="tilstande" minOccurs="0" ref="org:TilstandListe" />
          <element oio:content="relationer" minOccurs="0" ref="org:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationlaesoutput:ADD:2.0.0" name="LaesOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" name="FiltreretOejebliksbillede" type="org:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationlistoutput:ADD:2.0.0" name="ListOutputType">
    <complexContent mixed="false">
      <extension base="sd:ListOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="org:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationfiltreretoejebliksbillede:ADD:1.0.0" name="FiltreretOejebliksbilledeType">
    <sequence>
      <element oio:content="objekt" name="ObjektType" type="sd:SagDokObjektType" />
      <element oio:content="registrering" minOccurs="0" maxOccurs="unbounded" name="Registrering" type="org:RegistreringType" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sagdok:organisationsoeginput:ADD:2.0.0" name="SoegInputType">
    <complexContent mixed="false">
      <extension base="sd:SoegInputType">
        <sequence>
          <sequence>
            <element oio:content="soegattributter" ref="org:AttributListe" />
            <element oio:content="soegtilstande" ref="org:TilstandListe" />
            <element oio:content="soegrelationer" ref="org:RelationListe" />
          </sequence>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>