Infrastructure.STS.Organization/Connected Services/ServiceReference/RequestHeader1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://kombit.dk/xml/schemas/RequestHeader/1/" elementFormDefault="qualified" targetNamespace="http://kombit.dk/xml/schemas/RequestHeader/1/" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RequestHeader" type="tns:RequestHeaderType" />
  <xsd:complexType name="RequestHeaderType">
    <xsd:all>
      <xsd:element ref="tns:TransactionUUID" />
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="TransactionUUID" type="tns:TransactionUUIDType" />
  <xsd:simpleType name="TransactionUUIDType">
    <xsd:restriction base="tns:UUIDType" />
  </xsd:simpleType>
  <xsd:simpleType name="UUIDType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>