Infrastructure.Soap/Connected Services/STSAdresse/AdresseOperationer.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:adresse="urn:oio:sts:organisation:adresse:1.1.3.0" xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:sts="urn:oio:sts:1.1.3.0" xmlns:oio="urn:oio:definitions:1.0.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:adresse:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <import schemaLocation="GenerelleDefinitioner.xsd" namespace="urn:oio:sts:1.1.3.0" />
  <include schemaLocation="Adresse.xsd" />
  <element oio:definition="urn:oio:sts:adresseimportinput:ADD:2.0.0" name="ImportInput" type="adresse:ImportInputType" />
  <element oio:definition="urn:oio:sts:adresseimportoutput:ASDD:2.0.0" name="ImportOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:adresseopretinput:ADD:2.0.0" name="OpretInput" type="adresse:OpretInputType" />
  <element oio:definition="urn:oio:sts:adresseopretoutput:ADD:2.0.0" name="OpretOutput" type="sd:OpretOutputType" />
  <element oio:definition="urn:oio:sts:adresseretinput:ADD:2.0.0" name="RetInput" type="adresse:RetInputType" />
  <element oio:definition="urn:oio:sts:adresseretoutput:ASDD:1.0.0" name="RetOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:adressepassiverinput:ASDD:1.0.0" name="PassiverInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sts:adressepassiveroutput:ASDD:1.0.0" name="PassiverOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:adressesletinput:ASDD:1.0.0" name="SletInput" type="sd:UuidNoteInputType" />
  <element oio:definition="urn:oio:sts:adressesletoutput:ASDD:1.0.0" name="SletOutput" type="sd:BasicOutputType" />
  <element oio:definition="urn:oio:sts:adresselaesinput:ASDD:1.0.0" name="LaesInput" type="sd:LaesInputType" />
  <element oio:definition="urn:oio:sts:adresselaesoutput:ADD:2.0.0" name="LaesOutput" type="adresse:LaesOutputType" />
  <element oio:definition="urn:oio:sts:adresselistinput:ASDD:1.0.0" name="ListInput" type="sd:ListInputType" />
  <element oio:definition="urn:oio:sts:adresselistoutput:ADD:2.0.0" name="ListOutput" type="adresse:ListOutputType" />
  <element oio:definition="urn:oio:sts:adressesoeginput:ADD:2.0.0" name="SoegInput" type="adresse:SoegInputType" />
  <element oio:definition="urn:oio:sts:adressesoegoutput:ASDD:1.0.0" name="SoegOutput" type="sd:SoegOutputType" />
  <complexType oio:definition="urn:oio:sts:adresseimportinput:ADD:2.0.0" name="ImportInputType">
    <sequence>
      <element oio:content="adresse" ref="adresse:Adresse" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sts:adresseopretinput:ADD:2.0.0" name="OpretInputType">
    <complexContent mixed="false">
      <extension base="sd:OpretInputType">
        <sequence>
          <element oio:content="attributter" minOccurs="0" ref="adresse:AttributListe" />
          <element oio:content="tilstande" minOccurs="0" ref="adresse:TilstandListe" />
          <element oio:content="relationer" minOccurs="0" ref="adresse:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:adresseretinput:ADD:2.0.0" name="RetInputType">
    <complexContent mixed="false">
      <extension base="sd:RetInputType">
        <sequence>
          <element oio:content="attributter" minOccurs="0" ref="adresse:AttributListe" />
          <element oio:content="tilstande" minOccurs="0" ref="adresse:TilstandListe" />
          <element oio:content="relationer" minOccurs="0" ref="adresse:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:adresselaesoutput:ADD:2.0.0" name="LaesOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" name="FiltreretOejebliksbillede" type="adresse:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:adresselistoutput:ADD:2.0.0" name="ListOutputType">
    <complexContent mixed="false">
      <extension base="sd:BasicOutputType">
        <sequence>
          <element oio:content="filtreretoejebliksbillede" minOccurs="0" maxOccurs="unbounded" name="FiltreretOejebliksbillede" type="adresse:FiltreretOejebliksbilledeType" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType oio:definition="urn:oio:sts:sagfiltreretoejebliksbillede:ADD:1.0.0" name="FiltreretOejebliksbilledeType">
    <sequence>
      <element oio:content="objekt" name="ObjektType" type="sd:SagDokObjektType" />
      <element oio:content="registrering" minOccurs="0" maxOccurs="unbounded" name="Registrering" type="adresse:RegistreringType" />
    </sequence>
  </complexType>
  <complexType oio:definition="urn:oio:sts:adressesoeginput:ADD:2.0.0" name="SoegInputType">
    <complexContent mixed="false">
      <extension base="sd:SoegInputType">
        <sequence>
          <sequence>
            <element oio:content="soegattributter" ref="adresse:AttributListe" />
            <element oio:content="soegtilstande" ref="adresse:TilstandListe" />
            <element oio:content="soegrelationer" ref="adresse:RelationListe" />
          </sequence>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>