Infrastructure.STS.SvcUtilClients/schemas/ItSystem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        name="ItSystemService"
        targetNamespace="http://stoettesystemerne.dk/organisation/6/"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://stoettesystemerne.dk/organisation/6/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:type="http://stoettesystemerne.dk/organisation/itsystem/6/"
        xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/">

  <wsdl:import namespace="http://serviceplatformen.dk/xml/wsdl/soap11/Security/Policy"
               location="policies/OIOIDWS.wsdl"/>
          
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:import namespace="http://stoettesystemerne.dk/organisation/itsystem/6/" schemaLocation="../xsd/6.0.STS-0/ItSystemOperationer.xsd"/>
        <xsd:import namespace="http://stoettesystemerne.dk/organisation/itsystem/6/" schemaLocation="../xsd/6.0.STS-0/ItSystem.xsd"/>
        <xsd:import namespace="http://stoettesystemerne.dk/organisation/itsystem/6/" schemaLocation="../xsd/6.0.STS-0/ItSystemBesked.xsd"/>
        <xsd:import namespace="http://stoettesystemerne.dk/organisation/6/" schemaLocation="../xsd/6.0.STS-0/OrganisationFaelles.xsd"/>
        <xsd:import namespace="urn:oio:sts:part:6" schemaLocation="../xsd/6.0.STS-0/Part.xsd"/>
        <xsd:import namespace="urn:oio:sts:6" schemaLocation="../xsd/6.0.STS-0/GenerelleDefinitioner.xsd"/>
        <xsd:import namespace="urn:oio:sagdok:3.0.0" schemaLocation="../xsd/common/SagDokObjekt.xsd"/>
        <xsd:import namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" schemaLocation="../xsd/common/RequestHeader.xsd" />
      </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ItSystemOpretResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:OpretOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemLaesResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:LaesOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemSletResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:SletOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemLaesRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:LaesInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemOpretRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:OpretInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemSoegRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:SoegInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemSletRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:SletInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemImporterRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:ImportInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemPassiverResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:PassiverOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemListeResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:ListOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemRetResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:RetOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemListeRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:ListInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemRetRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:RetInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemSoegResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:SoegOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemImporterResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="response" element="type:ImportOutput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ItSystemPassiverRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader"/>
    <wsdl:part name="request" element="type:PassiverInput">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ItSystemPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:ItSystemOpretRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ItSystemOpretResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:ItSystemImporterRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ItSystemImporterResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:ItSystemPassiverRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ItSystemPassiverResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:ItSystemLaesRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ItSystemLaesResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:ItSystemRetRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ItSystemRetResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:ItSystemSletRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ItSystemSletResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:ItSystemSoegRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ItSystemSoegResponseMessage">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:ItSystemListeRequestMessage">
    </wsdl:input>
      <wsdl:output message="tns:ItSystemListeResponseMessage">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItSystem" type="tns:ItSystemPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#ServiceplatformBindingPolicy"/>
    <wsdl:operation name="opret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/itsystem/opret" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:ItSystemOpretRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ItSystemOpretResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/itsystem/importer" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:ItSystemImporterRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ItSystemImporterResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/itsystem/passiver" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:ItSystemPassiverRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ItSystemPassiverResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/itsystem/laes" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:ItSystemLaesRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ItSystemLaesResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/itsystem/ret" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:ItSystemRetRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ItSystemRetResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/itsystem/slet" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:ItSystemSletRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ItSystemSletResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/itsystem/soeg" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:ItSystemSoegRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ItSystemSoegResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/itsystem/list" soapActionRequired="false"/>
      <wsdl:input>
        <soap12:header message="tns:ItSystemListeRequestMessage" part="header" use="literal"/>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:ItSystemListeResponseMessage" part="header" use="literal"/>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItSystemService">
    <wsdl:port name="ItSystem" binding="tns:ItSystem">
      <soap12:address location="http://kombit.dk/sts/organisation/itsystem"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
