Infrastructure.STS.SvcUtilClients/Adresse/wsdl/OrganisationSystemOperationer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        targetNamespace="http://stoettesystemerne.dk/organisation/organisationsystem/6/"
        xmlns:oio="urn:oio:definitions:1.0.0"
        xmlns:organisation="http://stoettesystemerne.dk/organisation/organisation/6/"
        xmlns:organisationenhed="http://stoettesystemerne.dk/organisation/organisationenhed/6/"
        xmlns:organisationfunktion="http://stoettesystemerne.dk/organisation/organisationfunktion/6/"
        xmlns:bruger="http://stoettesystemerne.dk/organisation/bruger/6/"
        xmlns:interessefaellesskab="http://stoettesystemerne.dk/organisation/interessefaellesskab/6/"
        xmlns:itsystem="http://stoettesystemerne.dk/organisation/itsystem/6/"
        xmlns:sd="urn:oio:sagdok:3.0.0"
        xmlns:sts="http://stoettesystemerne.dk/organisation/organisationsystem/6/"
        oio:mapping="urn:oio:sagdok:MPD:3.0.0">

    <import namespace = "urn:oio:sagdok:3.0.0" schemaLocation="../common/SagDokObjekt.xsd"/>

    <import namespace="http://stoettesystemerne.dk/organisation/organisation/6/" schemaLocation="OrganisationOperationer.xsd"/>
    <import namespace="http://stoettesystemerne.dk/organisation/organisationenhed/6/" schemaLocation="OrganisationEnhedOperationer.xsd"/>
    <import namespace="http://stoettesystemerne.dk/organisation/organisationfunktion/6/" schemaLocation="OrganisationFunktionOperationer.xsd"/>
    <import namespace="http://stoettesystemerne.dk/organisation/bruger/6/" schemaLocation="BrugerOperationer.xsd"/>
    <import namespace="http://stoettesystemerne.dk/organisation/interessefaellesskab/6/" schemaLocation="InteressefaellesskabOperationer.xsd"/>
    <import namespace="http://stoettesystemerne.dk/organisation/itsystem/6/" schemaLocation="ItSystemOperationer.xsd"/>

    <import namespace="http://stoettesystemerne.dk/organisation/adresse/6/" schemaLocation="AdresseOperationer.xsd"/>
    <import namespace="http://stoettesystemerne.dk/organisation/myndighed/6/" schemaLocation="MyndighedOperationer.xsd"/>
    <import namespace="http://stoettesystemerne.dk/organisation/person/6/" schemaLocation="PersonOperationer.xsd"/>
    <import namespace="http://stoettesystemerne.dk/organisation/virksomhed/6/" schemaLocation="VirksomhedOperationer.xsd"/>

    <element name="FremsoegObjekthierarkiInput" type="sts:FremsoegObjekthierarkiInputType" oio:definition="urn:oio:sts:fremsoegobjekthierarkiinput:ADD:2.0.0"/>
    <element name="FremsoegObjekthierarkiOutput" type="sts:FremsoegObjekthierarkiOutputType" oio:definition="urn:oio:sts:fremsoegobjekthierarkioutput:ADD:2.0.0"/>
    <element name="ImporterOrganisationSystemInput" type="sts:ImporterOrganisationSystemInputType" oio:definition="urn:oio:sts:organisationssystemimportinput:ADD:2.0.0"/>
    <element name="ImporterOrganisationSystemOutput" type="sd:MultipleOutputType" oio:definition="urn:oio:sts:organisationssystemimportoutput:ADD:2.0.0"/>
    <element name="AnonymiserInput" type="sts:AnonymiserInputType"/>
    <element name="AnonymiserOutput" type="sd:BasicOutputType"/>
 
    <complexType name="FremsoegObjekthierarkiInputType" oio:definition="urn:oio:sts:fremsoegobjekthierarkiinputADD:2.0.0">
        <complexContent>
            <extension base="sd:SoegInputType">
                <sequence>
		            <element ref="sts:OrganisationSoegEgenskab" minOccurs="0" maxOccurs="1" oio:content="organisationegenskaber"/>
		            <element ref="sts:OrganisationEnhedSoegEgenskab" minOccurs="0" maxOccurs="1" oio:content="organisationenhedegenskaber"/>
		            <element ref="sts:OrganisationFunktionSoegEgenskab" minOccurs="0" maxOccurs="1" oio:content="organisationfunktionegenskaber"/>
		            <element ref="sts:BrugerSoegEgenskab" minOccurs="0" maxOccurs="1" oio:content="brugeregenskaber"/>
		            <element ref="sts:InteressefaellesskabSoegEgenskab" minOccurs="0" maxOccurs="1" oio:content="interessefaellesskabegenskaber"/>
		            <element ref="sts:ItSystemSoegEgenskab" minOccurs="0" maxOccurs="1" oio:content="itsystemegenskaber"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    
    <complexType name="FremsoegObjekthierarkiOutputType" oio:definition="urn:oio:sts:fremsoegobjekthierarkioutputADD:2.0.0">
        <complexContent>
            <extension base="sd:BasicOutputType">
                <sequence>
		            <element ref="sts:Organisationer" oio:content="organisationer"/>
		            <element ref="sts:OrganisationEnheder" oio:content="organisationenheder"/>
		            <element ref="sts:OrganisationFunktioner" oio:content="organisationfunktioner"/>
		            <element ref="sts:Brugere" oio:content="brugere"/>
		            <element ref="sts:Interessefaellesskaber" oio:content="interessefaellesskaber"/>
		            <element ref="sts:ItSystemer" oio:content="itsystemer"/>
		        </sequence>
	        </extension>
        </complexContent>
    </complexType>

    <complexType name="ImporterOrganisationSystemInputType" oio:definition="urn:oio:sts:organisationssystemimportinputtype:ADD:2.0.0">
        <sequence>
            <element ref="organisation:Organisation" minOccurs="1" maxOccurs="1" oio:content="urn:oio:sagdok:organisation:ADD:2.0.0"/>
            <element ref="sts:OrganisationEnhederInput" oio:content="organisationenheder"/>
        </sequence>
    </complexType>
    
    <element name="OrganisationSoegEgenskab" type="organisation:EgenskabType" oio:definition="urn:oio:sagdok:organisationsoegegenskab:ADD:1.0.0"/>
    <element name="OrganisationEnhedSoegEgenskab" type="organisationenhed:EgenskabType" oio:definition="urn:oio:sagdok:organisationenhedsoegegenskab:ADD:1.0.0"/>
    <element name="OrganisationFunktionSoegEgenskab" type="organisationfunktion:EgenskabType" oio:definition="urn:oio:sagdok:organisationfunktionsoegegenskab:ADD:1.0.0"/>
    <element name="BrugerSoegEgenskab" type="bruger:EgenskabType" oio:definition="urn:oio:sagdok:brugersoegegenskab:ADD:1.0.0"/>
    <element name="InteressefaellesskabSoegEgenskab" type="interessefaellesskab:EgenskabType" oio:definition="urn:oio:sagdok:interessefaellesskab:ADD:1.0.0"/>
    <element name="ItSystemSoegEgenskab" type="itsystem:EgenskabType" oio:definition="urn:oio:sagdok:itsystem:ADD:1.0.0"/>
    
    <element name="Organisationer" type="sts:OrganisationerOutputType" oio:definition="urn:oio:sts:organisationer:ADD:2.0.0"/>
    <complexType name="OrganisationerOutputType" oio:definition="urn:oio:sts:organisationer:ADD:2.0.0">
        <sequence>
            <element name="FiltreretOejebliksbillede" type="organisation:FiltreretOejebliksbilledeType" minOccurs="0" maxOccurs="unbounded" oio:content="urn:oio:sagdok:organisation:ADD:2.0.0"/>
        </sequence>
    </complexType>
    
    <element name="OrganisationEnheder" type="sts:OrganisationEnhederOutputType" oio:definition="urn:oio:sts:organisationenheder:ADD:2.0.0"/>
    <complexType name="OrganisationEnhederOutputType" oio:definition="urn:oio:sts:organisationenheder:ADD:2.0.0">
        <sequence>
            <element name="FiltreretOejebliksbillede" type="organisationenhed:FiltreretOejebliksbilledeType" minOccurs="0" maxOccurs="unbounded" oio:content="urn:oio:sagdok:organisationenhed:ADD:2.0.0"/>
        </sequence>
    </complexType>
    
    <element name="OrganisationFunktioner" type="sts:OrganisationFunktionerOutputType" oio:definition="urn:oio:sts:organisationfunktioner:ADD:2.0.0"/>
    <complexType name="OrganisationFunktionerOutputType" oio:definition="urn:oio:sts:organisationfunktioner:ADD:2.0.0">
        <sequence>
            <element name="FiltreretOejebliksbillede" type="organisationfunktion:FiltreretOejebliksbilledeType" minOccurs="0" maxOccurs="unbounded" oio:content="urn:oio:sagdok:organisationfunktion:ADD:2.0.0"/>
        </sequence>
    </complexType>
    
    <element name="Brugere" type="sts:BrugereOutputType" oio:definition="urn:oio:sts:brugere:ADD:2.0.0"/>
    <complexType name="BrugereOutputType" oio:definition="urn:oio:sts:brugere:ADD:2.0.0">
        <sequence>
            <element name="FiltreretOejebliksbillede" type="bruger:FiltreretOejebliksbilledeType" minOccurs="0" maxOccurs="unbounded" oio:content="urn:oio:sagdok:bruger:ADD:2.0.0"/>
        </sequence>
    </complexType>
    
    <element name="Interessefaellesskaber" type="sts:InteressefaellesskaberOutputType" oio:definition="urn:oio:sts:interessefaellesskaber:ADD:2.0.0"/>
    <complexType name="InteressefaellesskaberOutputType" oio:definition="urn:oio:sts:interessefaellesskaber:ADD:2.0.0">
        <sequence>
            <element name="FiltreretOejebliksbillede" type="interessefaellesskab:FiltreretOejebliksbilledeType" minOccurs="0" maxOccurs="unbounded" oio:content="urn:oio:sagdok:interessefaellesskab:ADD:2.0.0"/>
        </sequence>
    </complexType>
    
    <element name="ItSystemer" type="sts:ItSystemerOutputType" oio:definition="urn:oio:sts:itsystemer:ADD:2.0.0"/>
    <complexType name="ItSystemerOutputType" oio:definition="urn:oio:sts:itsystemer:ADD:2.0.0">
        <sequence>
            <element name="FiltreretOejebliksbillede" type="itsystem:FiltreretOejebliksbilledeType" minOccurs="0" maxOccurs="unbounded" oio:content="urn:oio:sagdok:itsystem:ADD:2.0.0"/>
        </sequence>
    </complexType>
    
    <element name="OrganisationEnhederInput" type="sts:OrganisationEnhederInputType" oio:definition="urn:oio:sts:organisationenheder:ADD:2.0.0"/>
    <complexType name="OrganisationEnhederInputType" oio:definition="urn:oio:sts:organisationenheder:ADD:2.0.0">
        <sequence>
            <element ref="organisationenhed:OrganisationEnhed" minOccurs="0" maxOccurs="unbounded" oio:content="urn:oio:sagdok:organisationenhed:ADD:2.0.0"/>
        </sequence>
    </complexType>

    <complexType name="AnonymiserInputType">
        <choice>
            <element name="PersonUUID" type="sts:UUIDType"/>
            <element name="PersonCPR" type="sts:CPRType"/>
        </choice>
    </complexType>

    <simpleType name="UUIDType">
        <restriction base="string">
            <pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
        </restriction>
    </simpleType>

    <simpleType name="CPRType">
        <restriction base="string">
            <pattern value="[0-9]{10}"/>
        </restriction>
    </simpleType>
    
</schema>