Infrastructure.Soap/Connected Services/STSPerson/Person.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:sts="urn:oio:sts:1.1.3.0" xmlns:part="urn:oio:sts:part:1.1.3.0" xmlns:oio="urn:oio:definitions:1.0.0" xmlns:person="urn:oio:sts:organisation:person:1.1.3.0" xmlns:orgfaelles="urn:oio:sts:organisation:1.1.3.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:person:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <import schemaLocation="GenerelleDefinitioner.xsd" namespace="urn:oio:sts:1.1.3.0" />
  <import schemaLocation="Part.xsd" namespace="urn:oio:sts:part:1.1.3.0" />
  <element oio:definition="urn:oio:sagdok:shortnavn:ADD:1.0.0" name="NavnTekst" type="sts:ShortNavnTekst" />
  <element oio:definition="urn:oio:sagdok:person:ADD:2.0.0" name="Person" type="person:PersonType" />
  <complexType oio:definition="urn:oio:sagdok:person:ADD:2.0.0" name="PersonType">
    <complexContent mixed="false">
      <extension base="part:PartType">
        <sequence>
          <element oio:content="registreringer" maxOccurs="unbounded" ref="person:Registrering" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:personattributliste:ADD:2.0.0" name="AttributListe" type="person:AttributListeType" />
  <complexType oio:definition="urn:oio:sagdok:personattributliste:ADD:2.0.0" name="AttributListeType">
    <sequence>
      <element oio:content="egenskaber" minOccurs="0" maxOccurs="unbounded" ref="person:Egenskab" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:persontilstandliste:ADD:2.0.0" name="TilstandListe" type="person:TilstandListeType" />
  <complexType oio:definition="urn:oio:sagdok:persontilstandliste:ADD:2.0.0" name="TilstandListeType">
    <sequence />
  </complexType>
  <element oio:definition="urn:oio:sagdok:personrelationliste:ADD:2.0.0" name="RelationListe" type="person:RelationListeType" />
  <complexType oio:definition="urn:oio:sagdok:personrelationliste:ADD:2.0.0" name="RelationListeType">
    <sequence />
  </complexType>
  <element oio:definition="urn:oio:sagdok:personregistrering:ADD:2.0.0" name="Registrering" type="person:RegistreringType" />
  <complexType oio:definition="urn:oio:sagdok:personregistrering:ADD:2.0.0" name="RegistreringType">
    <complexContent mixed="false">
      <extension base="sd:RegistreringType">
        <sequence>
          <element oio:content="attributter" ref="person:AttributListe" />
          <element oio:content="tilstande" ref="person:TilstandListe" />
          <element oio:content="relationer" ref="person:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:personegenskaber:ADD:1.0.0" name="Egenskab" type="person:EgenskabType" />
  <complexType oio:definition="urn:oio:sagdok:personegenskaber:ADD:1.0.0" name="EgenskabType">
    <sequence>
      <element oio:content="virkning" minOccurs="0" ref="sd:Virkning" />
      <element oio:content="brugervendtnoegle" minOccurs="0" ref="sd:BrugervendtNoegleTekst" />
      <element oio:content="cprnr" minOccurs="0" ref="sts:CPR-NummerTekst" />
      <element oio:content="navn" minOccurs="0" ref="person:NavnTekst" />
    </sequence>
  </complexType>
</schema>