Infrastructure.Soap/Connected Services/STSPerson/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://stoettesystemerne.dk/organisation/6/" xmlns:type="http://stoettesystemerne.dk/organisation/person/6/" xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/" name="PersonService" targetNamespace="http://stoettesystemerne.dk/organisation/6/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://serviceplatformen.dk/xml/wsdl/soap11/Security/Policy" location="policies/OIOIDWS.wsdl" />
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../xsd/6.0.STS-0/PersonOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/person/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Person.xsd" namespace="http://stoettesystemerne.dk/organisation/person/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/PersonBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/person/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationFaelles.xsd" namespace="http://stoettesystemerne.dk/organisation/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Part.xsd" namespace="urn:oio:sts:part:6" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/GenerelleDefinitioner.xsd" namespace="urn:oio:sts:6" />
      <xsd:import schemaLocation="../xsd/common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
      <xsd:import schemaLocation="../xsd/common/RequestHeader.xsd" namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PersonImporterRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:ImportInput" />
  </wsdl:message>
  <wsdl:message name="PersonOpretResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:OpretOutput" />
  </wsdl:message>
  <wsdl:message name="PersonLaesRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:LaesInput" />
  </wsdl:message>
  <wsdl:message name="PersonListeResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:ListOutput" />
  </wsdl:message>
  <wsdl:message name="PersonPassiverRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:PassiverInput" />
  </wsdl:message>
  <wsdl:message name="PersonSletRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:SletInput" />
  </wsdl:message>
  <wsdl:message name="PersonLaesResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:LaesOutput" />
  </wsdl:message>
  <wsdl:message name="PersonRetResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:RetOutput" />
  </wsdl:message>
  <wsdl:message name="PersonRetRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:RetInput" />
  </wsdl:message>
  <wsdl:message name="PersonImporterResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:ImportOutput" />
  </wsdl:message>
  <wsdl:message name="PersonSoegResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:SoegOutput" />
  </wsdl:message>
  <wsdl:message name="PersonOpretRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:OpretInput" />
  </wsdl:message>
  <wsdl:message name="PersonSletResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:SletOutput" />
  </wsdl:message>
  <wsdl:message name="PersonPassiverResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:PassiverOutput" />
  </wsdl:message>
  <wsdl:message name="PersonSoegRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:SoegInput" />
  </wsdl:message>
  <wsdl:message name="PersonListeRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:ListInput" />
  </wsdl:message>
  <wsdl:portType name="PersonPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:PersonOpretRequestMessage" />
      <wsdl:output message="tns:PersonOpretResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:PersonImporterRequestMessage" />
      <wsdl:output message="tns:PersonImporterResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:PersonPassiverRequestMessage" />
      <wsdl:output message="tns:PersonPassiverResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:PersonLaesRequestMessage" />
      <wsdl:output message="tns:PersonLaesResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:PersonRetRequestMessage" />
      <wsdl:output message="tns:PersonRetResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:PersonSletRequestMessage" />
      <wsdl:output message="tns:PersonSletResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:PersonSoegRequestMessage" />
      <wsdl:output message="tns:PersonSoegResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:PersonListeRequestMessage" />
      <wsdl:output message="tns:PersonListeResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Person" type="tns:PersonPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#ServiceplatformBindingPolicy" />
    <wsdl:operation name="opret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/person/opret" />
      <wsdl:input>
        <soap12:header message="tns:PersonOpretRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:PersonOpretResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/person/importer" />
      <wsdl:input>
        <soap12:header message="tns:PersonImporterRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:PersonImporterResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/person/passiver" />
      <wsdl:input>
        <soap12:header message="tns:PersonPassiverRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:PersonPassiverResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/person/laes" />
      <wsdl:input>
        <soap12:header message="tns:PersonLaesRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:PersonLaesResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/person/ret" />
      <wsdl:input>
        <soap12:header message="tns:PersonRetRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:PersonRetResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/person/slet" />
      <wsdl:input>
        <soap12:header message="tns:PersonSletRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:PersonSletResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/person/soeg" />
      <wsdl:input>
        <soap12:header message="tns:PersonSoegRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:PersonSoegResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/person/list" />
      <wsdl:input>
        <soap12:header message="tns:PersonListeRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:PersonListeResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="Person" binding="tns:Person">
      <soap12:address location="http://kombit.dk/sts/organisation/person" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>