Infrastructure.STS.Company/Connected Services/ServiceReference/SagDokObjekt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:oio="urn:oio:definitions:1.0.0" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sagdok:3.0.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element oio:definition="urn:oio:sagdok:importinput:ADD:1.0.0" name="ImportInput" type="sd:ImportInputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:importinput:ADD:1.0.0" name="ImportInputType">
    <xs:sequence>
      <xs:element oio:content="note" minOccurs="0" ref="sd:NoteTekst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:uuidnote:ADD:1.0.0" name="UuidNoteInput" type="sd:UuidNoteInputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:uuidnote:ADD:1.0.0" name="UuidNoteInputType">
    <xs:sequence>
      <xs:element oio:content="uuid" ref="sd:UUIDIdentifikator" />
      <xs:element oio:content="note" minOccurs="0" ref="sd:NoteTekst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:opretinput:ADD:1.0.0" name="OpretInput" type="sd:OpretInputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:opretinput:ADD:1.0.0" name="OpretInputType">
    <xs:sequence>
      <xs:element oio:content="note" minOccurs="0" ref="sd:NoteTekst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:opretoutput:ADD:1.0.0" name="OpretOutput" type="sd:OpretOutputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:opretoutput:ADD:1.0.0" name="OpretOutputType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:BasicOutputType">
        <xs:sequence>
          <xs:element oio:content="uuid" minOccurs="0" ref="sd:UUIDIdentifikator" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:basaloutput:ADD:1.0.0" name="BasicOutput" type="sd:BasicOutputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:basaloutput:ADD:1.0.0" name="BasicOutputType">
    <xs:sequence>
      <xs:element oio:content="standardretur" ref="sd:StandardRetur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:retinput:ADD:1.0.0" name="RetInput" type="sd:RetInputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:retinput:ADD:1.0.0" name="RetInputType">
    <xs:sequence>
      <xs:element oio:content="uuid" ref="sd:UUIDIdentifikator" />
      <xs:element oio:content="note" minOccurs="0" ref="sd:NoteTekst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:laesinput:ADD:1.0.0" name="LaesInput" type="sd:LaesInputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:laesinput:ADD:1.0.0" name="LaesInputType">
    <xs:sequence>
      <xs:element oio:content="uuid" ref="sd:UUIDIdentifikator" />
      <xs:element oio:content="virkningfrafilter" minOccurs="0" ref="sd:VirkningFraFilter" />
      <xs:element oio:content="virkningtilfilter" minOccurs="0" ref="sd:VirkningTilFilter" />
      <xs:element oio:content="registreringfrafilter" minOccurs="0" ref="sd:RegistreringFraFilter" />
      <xs:element oio:content="registreringtilfilter" minOccurs="0" ref="sd:RegistreringTilFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:listinput:ADD:1.0.0" name="ListInput" type="sd:ListInputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:listinput:ADD:1.0.0" name="ListInputType">
    <xs:sequence>
      <xs:element oio:content="uuid" maxOccurs="unbounded" ref="sd:UUIDIdentifikator" />
      <xs:element oio:content="virkningfrafilter" minOccurs="0" ref="sd:VirkningFraFilter" />
      <xs:element oio:content="virkningtilfilter" minOccurs="0" ref="sd:VirkningTilFilter" />
      <xs:element oio:content="registreringfrafilter" minOccurs="0" ref="sd:RegistreringFraFilter" />
      <xs:element oio:content="registreringtilfilter" minOccurs="0" ref="sd:RegistreringTilFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:listoutput:ADD:1.0.0" name="ListOutput" type="sd:ListOutputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:listoutput:ADD:1.0.0" name="ListOutputType">
    <xs:sequence>
      <xs:element oio:content="standardretur" ref="sd:StandardRetur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:soeginput:ADD:1.0.0" name="SoegInput" type="sd:SoegInputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:soeginput:ADD:1.0.0" name="SoegInputType">
    <xs:sequence>
      <xs:element oio:content="foersteresultat" minOccurs="0" ref="sd:FoersteResultatReference" />
      <xs:element oio:content="maksimalantalresultater" minOccurs="0" ref="sd:MaksimalAntalKvantitet" />
      <xs:element oio:content="soegregistrering" minOccurs="0" ref="sd:SoegRegistrering" />
      <xs:element oio:content="soegvirkning" minOccurs="0" ref="sd:SoegVirkning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:soeginput:ADD:1.0.0#foersteresultat" name="FoersteResultatReference" type="xs:integer" />
  <xs:element oio:definition="urn:oio:sagdok:soeginput:ADD:1.0.0#maksimalantalresultater" name="MaksimalAntalKvantitet" type="xs:integer" />
  <xs:element oio:definition="urn:oio:sagdok:soegoutput:ADD:1.0.0" name="SoegOutput" type="sd:SoegOutputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:soegoutput:ADD:1.0.0" name="SoegOutputType">
    <xs:sequence>
      <xs:element oio:content="standardretur" ref="sd:StandardRetur" />
      <xs:element oio:content="idliste" minOccurs="0" ref="sd:IdListe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:note:BDD:1.0.0" name="NoteTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:uuid:BDD:1.0.0" name="UUIDIdentifikator">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:virkningfrafilter:ASDD:1.0.0" name="VirkningFraFilter" type="sd:TidspunktType" />
  <xs:element oio:definition="urn:oio:sagdok:virkningtilfilter:ASDD:1.0.0" name="VirkningTilFilter" type="sd:TidspunktType" />
  <xs:element oio:definition="urn:oio:sagdok:registreringfrafilter:ASDD:1.0.0" name="RegistreringFraFilter" type="sd:TidspunktType" />
  <xs:element oio:definition="urn:oio:sagdok:registreringtilfilter:ASDD:1.0.0" name="RegistreringTilFilter" type="sd:TidspunktType" />
  <xs:element oio:definition="urn:oio:sagdok:soegsagdokobjekt:ADD:1.0.0" name="SoegSagDokObjekt" type="sd:SoegSagDokObjektType" />
  <xs:complexType oio:definition="urn:oio:sagdok:soegsagdokobjekt:ADD:1.0.0" name="SoegSagDokObjektType">
    <xs:sequence>
      <xs:element oio:content="uuid" minOccurs="0" ref="sd:UUIDIdentifikator" />
      <xs:element oio:content="registrering" minOccurs="0" ref="sd:SoegRegistrering" />
      <xs:element oio:content="virkning" minOccurs="0" ref="sd:SoegVirkning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:idliste:ADD:1.0.0" name="IdListe" type="sd:IdListeType" />
  <xs:complexType oio:definition="urn:oio:sagdok:idliste:ADD:1.0.0" name="IdListeType">
    <xs:sequence>
      <xs:element oio:content="id" minOccurs="0" maxOccurs="unbounded" ref="sd:UUIDIdentifikator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:adresser:relation:ASDD:2.0.0" name="Adresser" type="sd:AdresseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:ansatte:relation:ASDD:2.0.0" name="Ansatte" type="sd:PersonFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:branche:relation:ASDD:2.0.0" name="Branche" type="sd:KlasseRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:interessefaellesskabstype:relation:ASDD:2.0.0" name="Interessefaellesskabstype" type="sd:KlasseRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:myndighed:relation:ASDD:1.0.0" name="Myndighed" type="sd:MyndighedRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:myndighedstype:relation:ASDD:1.0.0" name="Myndighedstype" type="sd:KlasseRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:opgaver:relation:ASDD:2.0.0" name="Opgaver" type="sd:KlasseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:overordnet:relation:ASDD:2.0.0" name="Overordnet" type="sd:OrganisationEnhedRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:produktionsenhed:relation:ASDD:2.0.0" name="Produktionsenhed" type="sd:VirksomhedRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:skatteenhed:relation:ASDD:2.0.0" name="Skatteenhed" type="sd:VirksomhedRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilhoerer:relation:ASDD:2.0.0" name="Tilhoerer" type="sd:OrganisationRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilknyttedebrugere:relation:ASDD:2.0.0" name="TilknyttedeBrugere" type="sd:BrugerFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilknyttedeenheder:relation:ASDD:2.0.0" name="TilknyttedeEnheder" type="sd:OrganisationEnhedFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilknyttedefunktioner:relation:ASDD:2.0.0" name="TilknyttedeFunktioner" type="sd:OrganisationFunktionFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilknyttedeinteressefaellesskaber:relation:ASDD:2.0.0" name="TilknyttedeInteressefaellesskaber" type="sd:InteressefaellesskabFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilknyttedeorganisationer:relation:ASDD:2.0.0" name="TilknyttedeOrganisationer" type="sd:OrganisationFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilknyttedepersoner:relation:ASDD:2.0.0" name="TilknyttedePersoner" type="sd:PersonFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilknyttedeitsystemer:relation:ASDD:2.0.0" name="TilknyttedeItSystemer" type="sd:ItSystemFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:virksomhed:relation:ASDD:1.0.0" name="Virksomhed" type="sd:VirksomhedRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:virksomhedstype:relation:ASDD:1.0.0" name="Virksomhedstype" type="sd:KlasseRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:standardretur:ADD:1.0.0" name="StandardRetur" type="sd:StandardReturType" />
  <xs:complexType oio:definition="urn:oio:sagdok:standardretur:ADD:1.0.0" name="StandardReturType">
    <xs:sequence>
      <xs:element oio:content="statuskode" ref="sd:StatusKode" />
      <xs:element oio:content="fejlbesked" minOccurs="0" ref="sd:FejlbeskedTekst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:standardretur:ADD:1.0.0#statuskode" name="StatusKode" type="xs:integer" />
  <xs:element oio:definition="urn:oio:sagdok:standardretur:ADD:1.0.0#fejlbesked" name="FejlbeskedTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:tidspunkt:ADD:2.0.0" name="Tidspunkt" type="sd:TidspunktType" />
  <xs:complexType oio:definition="urn:oio:sagdok:tidspunkt:ADD:2.0.0" name="TidspunktType">
    <xs:choice>
      <xs:element oio:content="tidsstempel" ref="sd:TidsstempelDatoTid" />
      <xs:element oio:content="graense" ref="sd:GraenseIndikator" />
    </xs:choice>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:tidspunkt:ADD:2.0.0#graense" fixed="true" name="GraenseIndikator" type="xs:boolean" />
  <xs:element oio:definition="urn:oio:sagdok:laesfiltreretoutput:ADD:1.0.0" name="LaesFiltreretOutput" type="sd:LaesFiltreretOutputType" />
  <xs:complexType oio:definition="urn:oio:sagdok:laesfiltreretoutput:ADD:1.0.0" name="LaesFiltreretOutputType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:SagDokObjektType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:soegregistrering:ADD:1.0.0" name="SoegRegistrering" type="sd:SoegRegistreringType" />
  <xs:complexType oio:definition="urn:oio:sagdok:soegregistrering:ADD:1.0.0" name="SoegRegistreringType">
    <xs:sequence>
      <xs:element oio:content="fratidspunkt" minOccurs="0" ref="sd:FraTidspunkt" />
      <xs:element oio:content="tiltidspunkt" minOccurs="0" ref="sd:TilTidspunkt" />
      <xs:element oio:content="livscyklus" minOccurs="0" ref="sd:LivscyklusKode" />
      <xs:element oio:content="brugerref" minOccurs="0" ref="sd:BrugerRef" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:soegadresser:ASDD:1.0.0" name="SoegAdresser" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegansatte:ASDD:1.0.0" name="SoegAnsatte" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegbranche:ASDD:1.0.0" name="SoegBranche" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegmyndighed:ASDD:1.0.0" name="SoegMyndighed" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegmyndighedstype:ASDD:1.0.0" name="SoegMyndighedstype" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegopgaver:ASDD:1.0.0" name="SoegOpgaver" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegoverordnet:ASDD:1.0.0" name="SoegOverordnet" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegproduktionsenhed:ASDD:1.0.0" name="SoegProduktionsenhed" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegskatteenhed:ASDD:1.0.0" name="SoegSkatteenhed" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilhoerer:ASDD:1.0.0" name="SoegTilhoerer" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilknyttedebrugere:ASDD:1.0.0" name="SoegTilknyttedeBrugere" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilknyttedeenheder:ASDD:1.0.0" name="SoegTilknyttedeEnheder" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilknyttedefunktioner:ASDD:1.0.0" name="SoegTilknyttedeFunktioner" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilknyttedeinteressefaellesskaber:ASDD:1.0.0" name="SoegTilknyttedeInteressefaellesskaber" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilknyttedeorganisationer:ASDD:1.0.0" name="SoegTilknyttedeOrganisationer" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilknyttedepersoner:ASDD:1.0.0" name="SoegTilknyttedePersoner" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilknyttedeitsystemer:ASDD:1.0.0" name="SoegTilknyttedeItSystemer" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegvirksomhed:ASDD:1.0.0" name="SoegVirksomhed" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegvirksomhedstype:ASDD:1.0.0" name="SoegVirksomhedstype" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:enhedstype:relation:ASDD:1.0.0" name="Enhedstype" type="sd:KlasseRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:organisationstype:relation:ASDD:1.0.0" name="Organisationstype" type="sd:KlasseRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegenhedstype:ASDD:1.0.0" name="SoegEnhedstype" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:brugertyper:relation:ASDD:1.0.0" name="BrugerTyper" type="sd:KlasseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegbrugertyper:ASDD:1.0.0" name="SoegBrugerTyper" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:systemtyper:relation:ASDD:1.0.0" name="SystemTyper" type="sd:KlasseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegsystemtyper:ASDD:1.0.0" name="SoegSystemTyper" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:funktionstype:relation:ASDD:1.0.0" name="Funktionstype" type="sd:KlasseRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegfunktionstype:ASDD:1.0.0" name="SoegFunktionstype" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:sagdokobjekt:ADD:1.0.0" name="SagDokObjekt" type="sd:SagDokObjektType" />
  <xs:complexType oio:definition="urn:oio:sagdok:sagdokobjekt:ADD:1.0.0" name="SagDokObjektType">
    <xs:sequence>
      <xs:element oio:content="id" ref="sd:UUIDIdentifikator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:andrebehandlere:relation:ASDD:2.0.0" name="AndreBehandlere" type="sd:AktoerFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:andreklasser:relation:ASDD:2.0.0" name="AndreKlasser" type="sd:KlasseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:andresager:relation:ASDD:1.0.0" name="AndreSager" type="sd:SagFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:ansvarlig:relation:ASDD:2.0.0" name="Ansvarlig" type="sd:AktoerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:arkiv:relation:ASDD:1.0.0" name="Arkiv" type="sd:ArkivRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:ejer:relation:ASDD:2.0.0" name="Ejer" type="sd:AktoerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:journalposter:relation:ASDD:1.0.0" name="JournalPoster" type="sd:JournalPostFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:parter:relation:ASDD:2.0.0" name="Parter" type="sd:PartFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:primaerbehandler:relation:ASDD:2.0.0" name="PrimaerBehandler" type="sd:AktoerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:primaerklasse:relation:ASDD:2.0.0" name="PrimaerKlasse" type="sd:KlasseRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:praecedens:relation:ASDD:1.0.0" name="Praecedens" type="sd:SagRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:udlaanttil:relation:ASDD:1.0.0" name="UdlaantTil" type="sd:AktoerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:undersager:relation:ASDD:1.0.0" name="UnderSager" type="sd:SagFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegandrebehandlere:ASDD:1.0.0" name="SoegAndreBehandlere" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegandreklasser:ASDD:1.0.0" name="SoegAndreKlasser" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegandresager:ASDD:1.0.0" name="SoegAndreSager" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegansvarlig:ASDD:1.0.0" name="SoegAnsvarlig" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegarkiv:ASDD:1.0.0" name="SoegArkiv" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegejer:ASDD:1.0.0" name="SoegEjer" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegjournalposter:ASDD:1.0.0" name="SoegJournalPoster" type="sd:SoegJournalPostRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegparter:ASDD:1.0.0" name="SoegParter" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegprimaerbehandler:ASDD:1.0.0" name="SoegPrimaerBehandler" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegprimaerklasse:ASDD:1.0.0" name="SoegPrimaerKlasse" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegpraecedens:ASDD:1.0.0" name="SoegPraecedens" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegudlaanttil:ASDD:1.0.0" name="SoegUdlaantTil" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegundersager:ASDD:1.0.0" name="SoegUnderSager" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:andredokumenter:relation:ASDD:1.0.0" name="AndreDokumenter" type="sd:DokumentFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:arkiver:relation:ASDD:1.0.0" name="Arkiver" type="sd:ArkivFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:besvarelser:relation:ASDD:1.0.0" name="Besvarelser" type="sd:DokumentFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:bilag:relation:ASDD:1.0.0" name="Bilag" type="sd:DokumentFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:fordelttil:relation:ASDD:1.0.0" name="FordeltTil" type="sd:AktoerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:kommentarer:relation:ASDD:1.0.0" name="Kommentarer" type="sd:DokumentFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:kopiparter:relation:ASDD:1.0.0" name="KopiParter" type="sd:PartFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:nyrevision:relation:ASDD:1.0.0" name="NyRevision" type="sd:DokumentRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilknyttedesager:relation:ASDD:1.0.0" name="TilknyttedeSager" type="sd:SagFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:udgangspunkter:relation:ASDD:1.0.0" name="Udgangspunkter" type="sd:DokumentFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegandredokumenter:ASDD:1.0.0" name="SoegAndreDokumenter" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegarkiver:ASDD:1.0.0" name="SoegArkiver" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegbesvarelser:ASDD:1.0.0" name="SoegBesvarelser" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegbilag:ASDD:1.0.0" name="SoegBilag" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegfordelttil:ASDD:1.0.0" name="SoegFordeltTil" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegkommentarer:ASDD:1.0.0" name="SoegKommentarer" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegkopiparter:ASDD:1.0.0" name="SoegKopiParter" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegnyrevision:ASDD:1.0.0" name="SoegNyRevision" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilknyttedesager:ASDD:1.0.0" name="SoegTilknyttedeSager" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegudgangspunkter:ASDD:1.0.0" name="SoegUdgangspunkter" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:erstatter:relation:ASDD:1.0.0" name="Erstatter" type="sd:KlasseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:facet:relation:ASDD:1.0.0" name="Facet" type="sd:FacetRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:lovligekombinationer:relation:ASDD:1.0.0" name="LovligeKombinationer" type="sd:KlasseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:mapninger:relation:ASDD:1.0.0" name="Mapninger" type="sd:KlasseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:overordnetklasse:relation:ASDD:1.0.0" name="OverordnetKlasse" type="sd:KlasseRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:redaktoerer:relation:ASDD:2.0.0" name="Redaktoerer" type="sd:AktoerFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:sideordnede:relation:ASDD:1.0.0" name="Sideordnede" type="sd:KlasseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:tilfoejelser:relation:ASDD:1.0.0" name="Tilfoejelser" type="sd:KlasseFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegerstatter:ASDD:1.0.0" name="SoegErstatter" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegfacet:ASDD:1.0.0" name="SoegFacet" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soeglovligekombinationer:ASDD:1.0.0" name="SoegLovligeKombinationer" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegmapninger:ASDD:1.0.0" name="SoegMapninger" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegredaktoerer:ASDD:1.0.0" name="SoegRedaktoerer" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegsideordnede:ASDD:1.0.0" name="SoegSideordnede" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegtilfoejelser:ASDD:1.0.0" name="SoegTilfoejelser" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:facettilhoerer:relation:ASDD:1.0.0" name="FacetTilhoerer" type="sd:KlassifikationRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:afleverestil:relation:ASDD:1.0.0" name="AfleveresTil" type="sd:AktoerFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:andrearkiver:relation:ASDD:1.0.0" name="AndreArkiver" type="sd:ArkivFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:indgaari:relation:ASDD:1.0.0" name="IndgaarI" type="sd:ArkivRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:klassifikation:relation:ASDD:1.0.0" name="Klassifikation" type="sd:KlassifikationRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:skabere:relation:ASDD:1.0.0" name="Skabere" type="sd:AktoerFlerRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegafleverestil:ASDD:1.0.0" name="SoegAfleveresTil" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegandrearkiver:ASDD:1.0.0" name="SoegAndreArkiver" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegindgaari:ASDD:1.0.0" name="SoegIndgaarI" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegklassifikation:ASDD:1.0.0" name="SoegKlassifikation" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:soegskabere:ASDD:1.0.0" name="SoegSkabere" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:registrering:ADD:2.0.0" name="Registrering" type="sd:RegistreringType" />
  <xs:complexType oio:definition="urn:oio:sagdok:registrering:ADD:2.0.0" name="RegistreringType">
    <xs:sequence>
      <xs:element oio:content="note" minOccurs="0" ref="sd:NoteTekst" />
      <xs:element oio:content="tidsstempeldatotid" minOccurs="0" name="Tidspunkt" type="xs:dateTime" />
      <xs:element oio:content="livscyklus" minOccurs="0" ref="sd:LivscyklusKode" />
      <xs:element oio:content="brugerref" minOccurs="0" ref="sd:BrugerRef" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:brugervendtnoegle:BDD:1.0.0" name="BrugervendtNoegleTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:organisationsnavn:BDD:1.0.0" name="OrganisationNavn">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:lokaludvidelse:ADD:1.0.0" name="LokalUdvidelse" type="sd:LokalUdvidelseType" />
  <xs:complexType oio:definition="urn:oio:sagdok:lokaludvidelse:ADD:1.0.0" name="LokalUdvidelseType">
    <xs:sequence>
      <xs:any oio:content="any" minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="strict" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:adresseflerrelation:ADD:1.0.0" name="AdresseFlerRelation" type="sd:AdresseFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:adresseflerrelation:ADD:1.0.0" name="AdresseFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType">
        <xs:sequence>
          <xs:element oio:content="rolle" minOccurs="0" name="Rolle" type="sd:UnikIdType" />
          <xs:element oio:content="type" minOccurs="0" name="Type" type="sd:UnikIdType" />
          <xs:element oio:content="indeks" minOccurs="0" name="Indeks" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:personflerrelation:ADD:1.0.0" name="PersonFlerRelation" type="sd:PersonFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:personflerrelation:ADD:1.0.0" name="PersonFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:klasserelation:ADD:1.0.0" name="KlasseRelation" type="sd:KlasseRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:klasserelation:ADD:1.0.0" name="KlasseRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:myndighedrelation:ADD:1.0.0" name="MyndighedRelation" type="sd:MyndighedRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:myndighedrelation:ADD:1.0.0" name="MyndighedRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:klasseflerrelation:ADD:1.0.0" name="KlasseFlerRelation" type="sd:KlasseFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:klasseflerrelation:ADD:1.0.0" name="KlasseFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:organisationenhedrelation:ADD:1.0.0" name="OrganisationEnhedRelation" type="sd:OrganisationEnhedRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:organisationenhedrelation:ADD:1.0.0" name="OrganisationEnhedRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:virksomhedrelation:ADD:1.0.0" name="VirksomhedRelation" type="sd:VirksomhedRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:virksomhedrelation:ADD:1.0.0" name="VirksomhedRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:organisationrelation:ADD:1.0.0" name="OrganisationRelation" type="sd:OrganisationRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:organisationrelation:ADD:1.0.0" name="OrganisationRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:brugerflerrelation:ADD:1.0.0" name="BrugerFlerRelation" type="sd:BrugerFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:brugerflerrelation:ADD:1.0.0" name="BrugerFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:organisationenhedflerrelation:ADD:1.0.0" name="OrganisationEnhedFlerRelation" type="sd:OrganisationEnhedFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:organisationenhedflerrelation:ADD:1.0.0" name="OrganisationEnhedFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:organisationfunktionflerrelation:ADD:1.0.0" name="OrganisationFunktionFlerRelation" type="sd:OrganisationFunktionFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:organisationfunktionflerrelation:ADD:1.0.0" name="OrganisationFunktionFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:interessefaellesskabflerrelation:ADD:1.0.0" name="InteressefaellesskabFlerRelation" type="sd:InteressefaellesskabFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:interessefaellesskabflerrelation:ADD:1.0.0" name="InteressefaellesskabFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:organisationflerrelation:ADD:1.0.0" name="OrganisationFlerRelation" type="sd:OrganisationFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:organisationflerrelation:ADD:1.0.0" name="OrganisationFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:itsystemflerrelation:ADD:1.0.0" name="ItSystemFlerRelation" type="sd:ItSystemFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:itsystemflerrelation:ADD:1.0.0" name="ItSystemFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:tidsstempel:BDD:1.0.0" name="TidsstempelDatoTid" type="xs:dateTime" />
  <xs:element oio:definition="urn:oio:sagdok:fratidspunkt:ASDD:2.0.0" name="FraTidspunkt" type="sd:TidspunktType" />
  <xs:element oio:definition="urn:oio:sagdok:livscyklus:DT:2.0.0" name="LivscyklusKode" type="sd:LivscyklusKodeType" />
  <xs:simpleType oio:definition="urn:oio:sagdok:livscyklus:DT:2.0.0" name="LivscyklusKodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Opstaaet" />
      <xs:enumeration value="Importeret" />
      <xs:enumeration value="Passiveret" />
      <xs:enumeration value="Slettet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element oio:definition="urn:oio:sagdok:brugerreference:ASDD:1.0.0" name="BrugerRef" type="sd:UnikIdType" />
  <xs:element oio:definition="urn:oio:sagdok:soegvirkning:ADD:1.0.0" name="SoegVirkning" type="sd:SoegVirkningType" />
  <xs:complexType oio:definition="urn:oio:sagdok:soegvirkning:ADD:1.0.0" name="SoegVirkningType">
    <xs:sequence>
      <xs:element oio:content="fratidspunkt" minOccurs="0" ref="sd:FraTidspunkt" />
      <xs:element oio:content="tiltidspunkt" minOccurs="0" ref="sd:TilTidspunkt" />
      <xs:element oio:content="aktoerref" minOccurs="0" ref="sd:AktoerRef" />
      <xs:element oio:content="aktoertype" minOccurs="0" ref="sd:AktoerTypeKode" />
      <xs:element oio:content="note" minOccurs="0" ref="sd:NoteTekst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:soegrelation:ADD:1.0.0" name="SoegRelation" type="sd:SoegRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:soegrelation:ADD:1.0.0" name="SoegRelationType">
    <xs:sequence>
      <xs:element oio:content="virkning" minOccurs="0" ref="sd:SoegVirkning" />
      <xs:element oio:content="referenceid" minOccurs="0" ref="sd:ReferenceID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:organisationenhedsnavn:BDD:1.0.0" name="EnhedNavn">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:brugernavn:BDD:1.0.0" name="BrugerNavn">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:brugertype:BDD:1.0.0" name="BrugerTypeTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:interessefaellesskabsnavn:BDD:1.0.0" name="InteressefaellesskabNavn">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:interessefaellesskabstype:BDD:1.0.0" name="InteressefaellesskabTypeTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:itsystemnavn:BDD:1.0.0" name="ItSystemNavn">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:itsystemtype:BDD:1.0.0" name="ItSystemTypeTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:konfigurationselementer:BDD:1.0.0" name="KonfigurationReference">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:organisationfunktionsnavn:BDD:1.0.0" name="FunktionNavn">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="200" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:afleveret:BDD:1.0.0" name="AfleveretIndikator" type="xs:boolean" />
  <xs:element oio:definition="urn:oio:sagdok:beskrivelse:BDD:1.0.0" name="BeskrivelseTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="4096" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:hjemmel:BDD:1.0.0" name="HjemmelSpecifikationTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:kassationskode:BDD:1.0.0" name="KassationskodeTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:principiel:BDD:1.0.0" name="PrincipielIndikator" type="xs:boolean" />
  <xs:element oio:definition="urn:oio:sagdok:sagsnummer:BDD:1.0.0" name="SagsnummerTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:titel:BDD:1.0.0" name="TitelTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="100" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:aktoerflerrelation:ADD:1.0.0" name="AktoerFlerRelation" type="sd:AktoerFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:aktoerflerrelation:ADD:1.0.0" name="AktoerFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:sagflerrelation:ADD:1.0.0" name="SagFlerRelation" type="sd:SagFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:sagflerrelation:ADD:1.0.0" name="SagFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:aktoerrelation:ADD:1.0.0" name="AktoerRelation" type="sd:AktoerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:aktoerrelation:ADD:1.0.0" name="AktoerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType">
        <xs:sequence>
          <xs:element oio:content="aktoertype" minOccurs="0" ref="sd:AktoerTypeKode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:arkivrelation:ADD:1.0.0" name="ArkivRelation" type="sd:ArkivRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:arkivrelation:ADD:1.0.0" name="ArkivRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:journalpostflerrelation:ADD:1.0.0" name="JournalPostFlerRelation" type="sd:JournalPostFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:journalpostflerrelation:ADD:1.0.0" name="JournalPostFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:NulFlerRelationType">
        <xs:sequence>
          <xs:element oio:content="journalpostid" ref="sd:JournalPostIdentifikator" />
          <xs:element oio:content="titel" minOccurs="0" ref="sd:TitelTekst" />
          <xs:element oio:content="indeks" minOccurs="0" ref="sd:IndeksIdentifikator" />
          <xs:element oio:content="offentlighedundtaget" minOccurs="0" ref="sd:OffentlighedUndtaget" />
          <xs:element oio:content="tilhoersforhold" ref="sd:TilhoersforholdKode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:partflerrelation:ADD:1.0.0" name="PartFlerRelation" type="sd:PartFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:partflerrelation:ADD:1.0.0" name="PartFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:sagrelation:ADD:1.0.0" name="SagRelation" type="sd:SagRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:sagrelation:ADD:1.0.0" name="SagRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:soegjournalpostrelation:ADD:1.0.0" name="SoegJournalPostRelation" type="sd:SoegJournalPostRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:soegjournalpostrelation:ADD:1.0.0" name="SoegJournalPostRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:SoegRelationType">
        <xs:sequence>
          <xs:element oio:content="journalpostid" minOccurs="0" ref="sd:JournalPostIdentifikator" />
          <xs:element oio:content="titel" minOccurs="0" ref="sd:TitelTekst" />
          <xs:element oio:content="indeks" minOccurs="0" ref="sd:IndeksIdentifikator" />
          <xs:element oio:content="offentlighedundtaget" minOccurs="0" ref="sd:OffentlighedUndtaget" />
          <xs:element oio:content="tilhoersforhold" minOccurs="0" ref="sd:TilhoersforholdKode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:brevdato:BDD:1.0.0" name="BrevDato" type="xs:date" />
  <xs:element oio:definition="urn:oio:sagdok:major:BDD:1.0.0" name="VersionIdentifikator" type="xs:integer" />
  <xs:element oio:definition="urn:oio:sagdok:minor:BDD:1.0.0" name="UnderversionIdentifikator" type="xs:integer" />
  <xs:element oio:definition="urn:oio:sagdok:dokumentflerrelation:ADD:1.0.0" name="DokumentFlerRelation" type="sd:DokumentFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:dokumentflerrelation:ADD:1.0.0" name="DokumentFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:arkivflerrelation:ADD:1.0.0" name="ArkivFlerRelation" type="sd:ArkivFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:arkivflerrelation:ADD:1.0.0" name="ArkivFlerRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:FlerRelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:dokumentrelation:ADD:1.0.0" name="DokumentRelation" type="sd:DokumentRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:dokumentrelation:ADD:1.0.0" name="DokumentRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:kaldenavn:BDD:1.0.0" name="KaldenavnTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:ophavsret:BDD:1.0.0" name="OphavsretTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="4096" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:klassepubliceretstatus:BDD:2.0.0" name="ErPubliceretIndikator" type="xs:boolean" />
  <xs:element oio:definition="urn:oio:sagdok:klasseeksempel:BDD:1.0.0" name="EksempelTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="4096" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:klasseomfang:BDD:1.0.0" name="OmfangTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:retskilde:BDD:1.0.0" name="RetskildeTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="4096" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:aendringsnotat:BDD:1.0.0" name="AendringsnotatTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:facetrelation:ADD:1.0.0" name="FacetRelation" type="sd:FacetRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:facetrelation:ADD:1.0.0" name="FacetRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:opbygning:BDD:1.0.0" name="OpbygningTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:plan:BDD:1.0.0" name="PlanIdentifikator">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="(100)|[1-9]\d?" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:supplement:BDD:1.0.0" name="SupplementTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:klassifikationrelation:ADD:1.0.0" name="KlassifikationRelation" type="sd:KlassifikationRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:klassifikationrelation:ADD:1.0.0" name="KlassifikationRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:RelationType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:bestemmelser:BDD:1.0.0" name="BestemmelserTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:virkning:ADD:2.0.0" name="Virkning" type="sd:VirkningType" />
  <xs:complexType oio:definition="urn:oio:sagdok:virkning:ADD:2.0.0" name="VirkningType">
    <xs:sequence>
      <xs:element oio:content="fratidspunkt" minOccurs="0" ref="sd:FraTidspunkt" />
      <xs:element oio:content="tiltidspunkt" minOccurs="0" ref="sd:TilTidspunkt" />
      <xs:element oio:content="aktoerref" minOccurs="0" ref="sd:AktoerRef" />
      <xs:element oio:content="aktoertype" minOccurs="0" ref="sd:AktoerTypeKode" />
      <xs:element oio:content="note" minOccurs="0" ref="sd:NoteTekst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:flerrelation:ADD:2.0.0" name="FlerRelation" type="sd:FlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:flerrelation:ADD:2.0.0" name="FlerRelationType">
    <xs:sequence>
      <xs:element oio:content="virkning" minOccurs="0" ref="sd:Virkning" />
      <xs:element oio:content="referenceid" minOccurs="0" ref="sd:ReferenceID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:relation:ADD:2.0.0" name="Relation" type="sd:RelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:relation:ADD:2.0.0" name="RelationType">
    <xs:sequence>
      <xs:element oio:content="virkning" minOccurs="0" ref="sd:Virkning" />
      <xs:element oio:content="referenceid" minOccurs="0" ref="sd:ReferenceID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:unikid:ADD:1.0.0" name="UnikId" type="sd:UnikIdType" />
  <xs:complexType oio:definition="urn:oio:sagdok:unikid:ADD:1.0.0" name="UnikIdType">
    <xs:choice>
      <xs:element oio:content="uuid" ref="sd:UUIDIdentifikator" />
      <xs:element oio:content="urn" ref="sd:URNIdentifikator" />
    </xs:choice>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:tiltidspunkt:ASDD:2.0.0" name="TilTidspunkt" type="sd:TidspunktType" />
  <xs:element oio:definition="urn:oio:sagdok:aktoerreference:ASDD:1.0.0" name="AktoerRef" type="sd:UnikIdType" />
  <xs:element oio:definition="urn:oio:sagdok:referenceid:ASDD:1.0.0" name="ReferenceID" type="sd:UnikIdType" />
  <xs:element oio:definition="urn:oio:sagdok:offentlighedundtaget:ADD:1.0.0" name="OffentlighedUndtaget" type="sd:OffentlighedUndtagetType" />
  <xs:complexType oio:definition="urn:oio:sagdok:offentlighedundtaget:ADD:1.0.0" name="OffentlighedUndtagetType">
    <xs:sequence>
      <xs:element oio:content="alternativtitel" ref="sd:TitelAlternativTekst" />
      <xs:element oio:content="offentlighedundtagethjemmel" ref="sd:OffentlighedUndtagetHjemmelTekst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:nulflerrelation:ADD:1.0.0" name="NulFlerRelation" type="sd:NulFlerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:nulflerrelation:ADD:1.0.0" name="NulFlerRelationType">
    <xs:sequence>
      <xs:element oio:content="virkning" ref="sd:Virkning" />
      <xs:element oio:content="referenceid" minOccurs="0" ref="sd:ReferenceID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element oio:definition="urn:oio:sagdok:journalpostid:BDD:1.0.0" name="JournalPostIdentifikator" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:indeks:BDD:1.0.0" name="IndeksIdentifikator" type="xs:integer" />
  <xs:element oio:definition="urn:oio:sagdok:tilhoersforhold:DT:2.0.0" name="TilhoersforholdKode" type="sd:TilhoersforholdKodeType" />
  <xs:simpleType oio:definition="urn:oio:sagdok:tilhoersforhold:DT:2.0.0" name="TilhoersforholdKodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vedlagt" />
      <xs:enumeration value="Tilakteret" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element oio:definition="urn:oio:sagdok:variant:BDD:1.0.0" name="VariantTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:arkivering:BDD:1.0.0" name="ArkiveringIndikator" type="xs:boolean" />
  <xs:element oio:definition="urn:oio:sagdok:scannet:BDD:1.0.0" name="DelvisSkannetIndikator" type="xs:boolean" />
  <xs:element oio:definition="urn:oio:sagdok:offentliggoerelse:BDD:1.0.0" name="OffentliggoerelseIndikator" type="xs:boolean" />
  <xs:element oio:definition="urn:oio:sagdok:produktion:BDD:1.0.0" name="ProduktionIndikator" type="xs:boolean" />
  <xs:element oio:definition="urn:oio:sagdok:soegeordidentifikator:BDD:1.0.0" name="SoegeordIdentifikator">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="50" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:soegeordskategori:BDD:1.0.0" name="SoegeordKategoriTekst">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:arkivtype:DT:2.0.0" name="ArkivTypeKode" type="sd:ArkivTypeKodeType" />
  <xs:simpleType oio:definition="urn:oio:sagdok:arkivtype:DT:2.0.0" name="ArkivTypeKodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Forvaltning" />
      <xs:enumeration value="Reference" />
      <xs:enumeration value="Personlig" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element oio:definition="urn:oio:sagdok:urn:BDD:1.0.0" name="URNIdentifikator">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="255" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element oio:definition="urn:oio:sagdok:aktoertype:DT:1.0.0" name="AktoerTypeKode" type="sd:AktoerTypeKodeType" />
  <xs:simpleType oio:definition="urn:oio:sagdok:aktoertype:DT:1.0.0" name="AktoerTypeKodeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Organisation" />
      <xs:enumeration value="OrganisationEnhed" />
      <xs:enumeration value="OrganisationFunktion" />
      <xs:enumeration value="Bruger" />
      <xs:enumeration value="ItSystem" />
      <xs:enumeration value="Interessefaellesskab" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element oio:definition="urn:oio:sagdok:alternativtitel:BDD:1.0.0" name="TitelAlternativTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:offentlighedundtagethjemmel:BDD:1.0.0" name="OffentlighedUndtagetHjemmelTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:del:BDD:1.0.0" name="DelTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:indhold:BDD:1.0.0" name="IndholdTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:lokation:BDD:1.0.0" name="LokationTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:mimetype:BDD:1.0.0" name="MimetypeTekst" type="xs:string" />
  <xs:element oio:definition="urn:oio:sagdok:soegunderredigeringaf:ASDD:1.0.0" name="SoegUnderRedigeringAf" type="sd:SoegRelationType" />
  <xs:element oio:definition="urn:oio:sagdok:underredigeringaf:relation:ASDD:1.0.0" name="UnderRedigeringAf" type="sd:AktoerRelationType" />
  <xs:complexType oio:definition="urn:oio:sagdok:multipleoutput:ADD:1.0.0" name="MultipleOutputType">
    <xs:sequence>
      <xs:choice>
        <xs:element oio:content="standardretur" minOccurs="0" maxOccurs="unbounded" name="UnikRetur" type="sd:UnikReturType" />
        <xs:element oio:content="standardretur" minOccurs="0" maxOccurs="unbounded" name="StandardRetur" type="sd:StandardReturType" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType oio:definition="urn:oio:sagdok:unikeretur:ADD:1.0.0" name="UnikReturType">
    <xs:complexContent mixed="false">
      <xs:extension base="sd:StandardReturType">
        <xs:sequence>
          <xs:element oio:content="type" name="Type" type="xs:string" />
          <xs:element oio:content="uuid" ref="sd:UUIDIdentifikator" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>