Infrastructure.STS.Company/Connected Services/ServiceReference/VirksomhedService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://stoettesystemerne.dk/organisation/6/" xmlns:type="http://stoettesystemerne.dk/organisation/virksomhed/6/" xmlns:header="http://kombit.dk/xml/schemas/RequestHeader/1/" name="VirksomhedService" targetNamespace="http://stoettesystemerne.dk/organisation/6/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://serviceplatformen.dk/xml/wsdl/soap11/Security/Policy" location="policies/OIOIDWS.wsdl" />
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../xsd/6.0.STS-0/VirksomhedOperationer.xsd" namespace="http://stoettesystemerne.dk/organisation/virksomhed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Virksomhed.xsd" namespace="http://stoettesystemerne.dk/organisation/virksomhed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/VirksomhedBesked.xsd" namespace="http://stoettesystemerne.dk/organisation/virksomhed/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/OrganisationFaelles.xsd" namespace="http://stoettesystemerne.dk/organisation/6/" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/Part.xsd" namespace="urn:oio:sts:part:6" />
      <xsd:import schemaLocation="../xsd/6.0.STS-0/GenerelleDefinitioner.xsd" namespace="urn:oio:sts:6" />
      <xsd:import schemaLocation="../xsd/common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
      <xsd:import schemaLocation="../xsd/common/RequestHeader.xsd" namespace="http://kombit.dk/xml/schemas/RequestHeader/1/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VirksomhedImporterRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:ImportInput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedOpretResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:OpretOutput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedLaesRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:LaesInput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedListeResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:ListOutput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedPassiverRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:PassiverInput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedSletRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:SletInput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedLaesResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:LaesOutput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedRetResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:RetOutput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedRetRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:RetInput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedImporterResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:ImportOutput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedSoegResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:SoegOutput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedOpretRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:OpretInput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedSletResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:SletOutput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedPassiverResponseMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="response" element="type:PassiverOutput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedSoegRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:SoegInput" />
  </wsdl:message>
  <wsdl:message name="VirksomhedListeRequestMessage">
    <wsdl:part name="header" element="header:RequestHeader" />
    <wsdl:part name="request" element="type:ListInput" />
  </wsdl:message>
  <wsdl:portType name="VirksomhedPortType">
    <wsdl:operation name="opret">
      <wsdl:input message="tns:VirksomhedOpretRequestMessage" />
      <wsdl:output message="tns:VirksomhedOpretResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="importer">
      <wsdl:input message="tns:VirksomhedImporterRequestMessage" />
      <wsdl:output message="tns:VirksomhedImporterResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <wsdl:input message="tns:VirksomhedPassiverRequestMessage" />
      <wsdl:output message="tns:VirksomhedPassiverResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="laes">
      <wsdl:input message="tns:VirksomhedLaesRequestMessage" />
      <wsdl:output message="tns:VirksomhedLaesResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="ret">
      <wsdl:input message="tns:VirksomhedRetRequestMessage" />
      <wsdl:output message="tns:VirksomhedRetResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="slet">
      <wsdl:input message="tns:VirksomhedSletRequestMessage" />
      <wsdl:output message="tns:VirksomhedSletResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <wsdl:input message="tns:VirksomhedSoegRequestMessage" />
      <wsdl:output message="tns:VirksomhedSoegResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:VirksomhedListeRequestMessage" />
      <wsdl:output message="tns:VirksomhedListeResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Virksomhed" type="tns:VirksomhedPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#ServiceplatformBindingPolicy" />
    <wsdl:operation name="opret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/virksomhed/opret" />
      <wsdl:input>
        <soap12:header message="tns:VirksomhedOpretRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:VirksomhedOpretResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="importer">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/virksomhed/importer" />
      <wsdl:input>
        <soap12:header message="tns:VirksomhedImporterRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:VirksomhedImporterResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passiver">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/virksomhed/passiver" />
      <wsdl:input>
        <soap12:header message="tns:VirksomhedPassiverRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:VirksomhedPassiverResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="laes">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/virksomhed/laes" />
      <wsdl:input>
        <soap12:header message="tns:VirksomhedLaesRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:VirksomhedLaesResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ret">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/virksomhed/ret" />
      <wsdl:input>
        <soap12:header message="tns:VirksomhedRetRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:VirksomhedRetResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="slet">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/virksomhed/slet" />
      <wsdl:input>
        <soap12:header message="tns:VirksomhedSletRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:VirksomhedSletResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soeg">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/virksomhed/soeg" />
      <wsdl:input>
        <soap12:header message="tns:VirksomhedSoegRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:VirksomhedSoegResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap12:operation soapAction="http://kombit.dk/sts/organisation/virksomhed/list" />
      <wsdl:input>
        <soap12:header message="tns:VirksomhedListeRequestMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap12:header message="tns:VirksomhedListeResponseMessage" part="header" use="literal" />
        <soap12:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VirksomhedService">
    <wsdl:port name="Virksomhed" binding="tns:Virksomhed">
      <soap12:address location="http://kombit.dk/sts/organisation/virksomhed" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>