Infrastructure.STS.OrganizationUnit/Connected Services/ServiceReference/OrganisationEnhed.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sd="urn:oio:sagdok:3.0.0" xmlns:orgfaelles="urn:oio:sts:organisation:1.1.3.0" xmlns:oio="urn:oio:definitions:1.0.0" xmlns:orgenhed="urn:oio:sts:organisation:organisationenhed:1.1.3.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:oio:sts:organisation:organisationenhed:1.1.3.0" oio:mapping="urn:oio:sagdok:MPD:3.0.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="OrganisationFaelles.xsd" namespace="urn:oio:sts:organisation:1.1.3.0" />
  <import schemaLocation="../common/SagDokObjekt.xsd" namespace="urn:oio:sagdok:3.0.0" />
  <element oio:definition="urn:oio:sagdok:organisationenhed:ADD:2.0.0" name="OrganisationEnhed" type="orgenhed:OrganisationEnhedType" />
  <complexType oio:definition="urn:oio:sagdok:organisationenhed:ADD:2.0.0" name="OrganisationEnhedType">
    <complexContent mixed="false">
      <extension base="orgfaelles:AktoerType">
        <sequence>
          <element oio:content="registreringer" maxOccurs="unbounded" ref="orgenhed:Registrering" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationenhedattributliste:ADD:2.0.0" name="AttributListe" type="orgenhed:AttributListeType" />
  <complexType oio:definition="urn:oio:sagdok:organisationenhedattributliste:ADD:2.0.0" name="AttributListeType">
    <sequence>
      <element oio:content="egenskaber" minOccurs="0" maxOccurs="unbounded" ref="orgenhed:Egenskab" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationenhedtilstandliste:ADD:2.0.0" name="TilstandListe" type="orgenhed:TilstandListeType" />
  <complexType oio:definition="urn:oio:sagdok:organisationenhedtilstandliste:ADD:2.0.0" name="TilstandListeType">
    <sequence>
      <element oio:content="gyldighed" minOccurs="0" maxOccurs="unbounded" ref="orgfaelles:Gyldighed" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationenhedrelationliste:ADD:2.0.0" name="RelationListe" type="orgenhed:RelationListeType" />
  <complexType oio:definition="urn:oio:sagdok:organisationenhedrelationliste:ADD:2.0.0" name="RelationListeType">
    <sequence>
      <element oio:content="adresser" minOccurs="0" maxOccurs="unbounded" ref="sd:Adresser" />
      <element oio:content="ansatte" minOccurs="0" maxOccurs="unbounded" ref="sd:Ansatte" />
      <element oio:content="branche" minOccurs="0" ref="sd:Branche" />
      <element oio:content="enhedstype" minOccurs="0" ref="sd:Enhedstype" />
      <element oio:content="opgaver" minOccurs="0" maxOccurs="unbounded" ref="sd:Opgaver" />
      <element oio:content="overordnet" minOccurs="0" ref="sd:Overordnet" />
      <element oio:content="produktionsenhed" minOccurs="0" ref="sd:Produktionsenhed" />
      <element oio:content="skatteenhed" minOccurs="0" ref="sd:Skatteenhed" />
      <element oio:content="tilhoerer" minOccurs="0" ref="sd:Tilhoerer" />
      <element oio:content="tilknyttedebrugere" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeBrugere" />
      <element oio:content="tilknyttedeenheder" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeEnheder" />
      <element oio:content="tilknyttedefunktioner" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeFunktioner" />
      <element oio:content="tilknyttedeinteressefaellesskaber" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeInteressefaellesskaber" />
      <element oio:content="tilknyttedeorganisationer" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeOrganisationer" />
      <element oio:content="tilknyttedepersoner" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedePersoner" />
      <element oio:content="tilknyttedeitsystemer" minOccurs="0" maxOccurs="unbounded" ref="sd:TilknyttedeItSystemer" />
      <element oio:content="lokaludvidelse" minOccurs="0" ref="sd:LokalUdvidelse" />
    </sequence>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationenhedregistrering:ADD:2.0.0" name="Registrering" type="orgenhed:RegistreringType" />
  <complexType oio:definition="urn:oio:sagdok:organisationenhedregistrering:ADD:2.0.0" name="RegistreringType">
    <complexContent mixed="false">
      <extension base="sd:RegistreringType">
        <sequence>
          <element oio:content="attributter" ref="orgenhed:AttributListe" />
          <element oio:content="tilstande" ref="orgenhed:TilstandListe" />
          <element oio:content="relationer" ref="orgenhed:RelationListe" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element oio:definition="urn:oio:sagdok:organisationenhedegenskaber:ADD:1.0.0" name="Egenskab" type="orgenhed:EgenskabType" />
  <complexType oio:definition="urn:oio:sagdok:organisationenhedegenskaber:ADD:1.0.0" name="EgenskabType">
    <sequence>
      <element oio:content="virkning" minOccurs="0" ref="sd:Virkning" />
      <element oio:content="brugervendtnoegle" minOccurs="0" ref="sd:BrugervendtNoegleTekst" />
      <element oio:content="organisationenhedsnavn" minOccurs="0" ref="sd:EnhedNavn" />
    </sequence>
  </complexType>
</schema>